@import '../../../scss/variables';


.postit {
    padding-bottom: 62.5%;
    width: 62.5%;

    box-shadow: 0.125rem 0.125rem 0.25rem 0 rgba($paragraph_grey, 0.1);
    border-bottom-right-radius: #{2*$gutter-large} #{$gutter-large/5};
    background: linear-gradient(135deg, $orange 81%, $orange 82%, $orange 82%, lighten($orange, 25%) 100%);
    transform: perspective(24rem) rotateY(1deg);
    margin-bottom: $gutter-small;
    transition: box-shadow 500ms ease, transform 250ms ease;

    &:hover {
        box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba($paragraph_grey, 0.2);
        transform: rotateX(0);
    }
}


@media (min-width: $screen-lg) {

    .postit {
        width: 37.5%;
        flex-shrink: 0;
        padding-bottom: 37.5%;
        margin-bottom: 0;

        &.isRightImage {
            box-shadow: -0.125rem 0.125rem 0.25rem 0 rgba($paragraph_grey, 0.1);
            border-bottom-right-radius: 0;
            border-bottom-left-radius: #{2*$gutter-large} #{$gutter-large/5};
            background: linear-gradient(-135deg, $orange 81%, $orange 82%, $orange 82%, lighten($orange, 25%) 100%);
            transform: perspective(24rem) rotateY(-1deg);

            &:hover {
                box-shadow: -0.25rem 0.25rem 0.5rem 0 rgba($paragraph_grey, 0.2);
                transform: rotateX(0);
            }
        }
    }
}
