@import "../../../scss/variables";
@import "../../../scss/mixins/mixins";
@import "../../../scss/mixins/typography";
@import '../page-component';

@mixin columns-component {
    @include component-columns-gutter;
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-md) {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@mixin copy {

    @include fontMedium;
    > section {

        > :last-child {
            margin-bottom: 0;
        }
    }
    a {
        @include fontLarge;
        display: block;
        @include arrow-link;
        margin-top: $gutter-small;
        @media(min-width: $screen-md) {
            margin-top: $gutter-medium;
        }
        font-weight: normal;
    }

    > :last-child {
        margin-bottom: 0;
    }
}
