@import "../../../scss/variables";
@import "../../../scss/mixins/mixins";
@import "../../../scss/mixins/typography";
@import '../page-component';

@mixin columns-component {
    @include component-columns-gutter;

    @media (min-width: $screen-lg) {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@mixin copy {

    h1 {
        @include headingFontLarge;

        //@media (min-width: $screen-lg) {
        //    @include headingFontXLarge;
        //}
    }
    > section {
        @include fontMedium;
        @media (min-width: $screen-lg) {
            @include fontLarge;
        }
        > :last-child {
            margin-bottom: 0;
        }
    }
    a {
        @include arrow-link;
        margin-top: $gutter-small;
        @media(min-width: $screen-lg) {
            margin-top: $gutter-medium;
        }
        @include fontMedium;
        @media (min-width: $screen-lg) {
            @include fontLarge;
        }
        font-weight: normal;
    }

    > :last-child {
        margin-bottom: 0;
    }
}
