@import "../../../scss/variables";
@import "../../../scss/mixins/mixins";
@import "../../../scss/mixins/typography";
@import '../page-component';

@mixin columns-component {
    @include component-gutter;

    @media (min-width: $screen-lg) {

        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@mixin copy {

    h1 {
        @include headingFontLarge;
    }
    > section {
        @include fontLarge;
        > :last-child {
            margin-bottom: 0;
        }
    }
    a {
        @include arrow-link;
    }

    > :last-child {
        margin-bottom: 0;
    }
}
