@import "../../../scss/variables";
@import "../../../scss/mixins/mixins";
@import "../../../scss/mixins/typography";
@import '../page-component';

.blockquoteContainer {
    @include component-gutter;

    > :last-child {
        margin-bottom: 0;
    }

    > p {
        //padding: $gutter-large 0 0;
        font-weight: bold;
        font-style: italic;
        position: relative;
        @include orange-type;
        @include fontXLarge;

        &:before,
        &:after {
            color: #c3c3c3;
            font-size: 2.4em;
        }

        &:before {
            position: absolute;
            content: '“';
            left: -2rem;
            top: 0;
            padding-left: 30px;
        }

        &:after {
            content: '”';
            display: inline-block;
            transform: translateY(-50%);
            height: calc(1.4em / 3);
            line-height: 1.4em;
            vertical-align: middle;
            text-align: center;
            width: 0.5em;
        }
    }

    > footer {
        display: flex;
        flex-direction: row;
        align-items: center;

        section > :last-child {
            margin-bottom: 0;
        }

        h1 {
            color: black;
            margin-bottom: 0.5rem;
            font-weight: bold;
            @include headingFontMedium;
        }

        p {
            color: #B8B8B8;
            text-transform: uppercase;
            margin: 0;
            font-style: italic;
            @include fontMedium;
        }
        .imageCropper {
            width: calc(20% + #{$gutter-medium});
            position: relative;
            overflow: hidden;
            border-radius: 50%;
            margin-right: $gutter-medium;

            @media (min-width: $screen-lg) {
                width: calc(10% + #{$gutter-medium});
            }

            @media (min-width: $screen-lg) {
                width: calc(10% + #{$gutter-medium});
            }

        }
    }
}


@media (min-width: $screen-lg) {

    .blockquoteContainer {
        border-left: 1px solid #D8D8D8;
        padding-top: 0;
        padding-left: $gutter-medium;

        > p {
            &:before {
                top: 0;
                background-color: #ffffff;
                padding-left: 0;
                line-height: 1;
                display: inline-block;
                left: calc(-2rem - 0.25em);
                width: 0.5em;
                height: 0.75em;
            }
        }
    }
}
