@import "../../../scss/variables";
@import "../../../scss/mixins";
@import '../page-component';

.blockquoteContainer {
    @include component-gutter;

    > div {
        display: flex;
        flex-direction: row;
        align-items: center;

        h1 {
            color: black;
            margin-bottom: 0.5rem;
            font-weight: bold;
            @include headingFontMedium;
        }

        p {
            color: #B8B8B8;
            text-transform: uppercase;
            margin: 0;
            font-style: italic;
            @include fontMedium;
        }
        .imageCropper {
            width: calc(20% + #{$gutter-medium});
            position: relative;
            overflow: hidden;
            border-radius: 50%;
            margin-right: $gutter-medium;

            @media (min-width: $screen-lg) {
                width: calc(10% + #{$gutter-medium});
            }

            @media (min-width: $screen-lg) {
                width: calc(10% + #{$gutter-medium});
            }

        }
    }

    blockquote {
        margin: 0 0 $gutter-small;
        padding: $gutter-large 0 0;
        font-weight: bold;
        font-style: italic;
        line-height: 1.4;
        position: relative;
        color: $orange;
        @include fontXLarge;

        &:before,
        &:after {
            position: absolute;
            color: #686868;
            font-size: 5rem;
        }

        &:before {
            content: '“';
            left: -2rem;
            top: 0;
            padding-left: 30px;
        }

        &:after {
            content: '”';
            bottom: 0;
            margin-left: .25rem;
            display: inline-block;
            transform: translateY(50%);
        }
    }
}


@media (min-width: $screen-lg) {

    .blockquoteContainer {
        border-left: 1px solid #D8D8D8;
        padding-top: 0;
        padding-left: $gutter-medium;

        blockquote {
            &:before {
                left: -$gutter-large;
                top: 0;
                background-color: #ffffff;
                padding-left: 0;
                width: $gutter-large;
                line-height: 1;
                height: $gutter-large;
            }
        }
    }
}
