@import "../styles/variables";
@import "../styles/mixins";

body {
    margin: 0;
}

.fullWidthImage {
    width: 100%;
    height: auto;
    margin-bottom: $margin-bottom;
}

.imageRow {

    @include flexRow;

    > div {
        width: 100%;

        &:first-child {
            margin-bottom: 5%;
        }
    }
}


.blogSection {

    @include flexRow(column, nowrap, space-between);

    h1 {
        color: $orange;
        padding: 0 1rem 1rem;
        margin: 0;
    }

    .flexRow {

        @include flexRow;

        .flexCol {
            flex-basis: 100%;
            h2 {
                margin: 10px 15px 20px;
            }

            .imageContainer {
                margin-bottom: 30px;
                position: relative;

                .colouredBlock {
                    position: absolute;
                    right: 0;
                    bottom: -20px;
                    opacity: 0.6;
                    border-width: 0 0 200px 200px;
                    border-color: transparent transparent $orange;
                    border-style: solid;
                }
            }
        }
    }
}


@media (min-width: $screen-md) {
    .imageRow {
        > div {
            width: calc(50% - 15px);

            &:first-child {
                margin-bottom: 10%;
            }

            &:last-child {
                margin-top: 10%;
            }
        }


    }

    .blogSection {

        h1 {
            padding-left: 0;
        }
        .flexRow {
            .flexCol {
                flex-basis: 49%;

                h2 {
                    margin-left: 0;
                }
            }
        }
    }

}