@import "../../../../scss/variables";
@import "../../../../scss/mixins/mixins";
@import '../../page-component';
@import '../columns';

.columnsWrapper {

    @include columns-component;

    .copy {
        @include copy;

        @media (min-width: $screen-lg) {
            width: calc(62.5% - #{$gutter-medium});
            margin-bottom: $gutter-medium/2;
        }
    }

    .image {
        margin-left: -$page-gutter-sm;
        margin-right: -$page-gutter-sm;

        @media(min-width: $screen-md) {
            margin-left: -$page-gutter-md;
            margin-right: -$page-gutter-md;
        }
        @media(min-width: $screen-lg) {
            width: calc(37.5% + #{$page-gutter-lg - $column-gutter});
            margin: 0 #{$column-gutter/2} 0 -#{$page-gutter-lg - $column-gutter/2};
            > div {
                padding-bottom: calc((100% + #{$page-gutter-lg}) * 0.625) !important;
            }
        }
        @media(min-width: $screen-xl) {
            width: calc(37.5% + #{$page-gutter-xl - $column-gutter});
            margin: 0 #{$column-gutter/2} 0 -#{$page-gutter-xl - $column-gutter/2};
            > div {
                padding-bottom: calc((100% + #{$page-gutter-xl}) * 0.625) !important;
            }
        }
        @media(min-width: $screen-xxl) {
            width: calc(37.5% + #{$page-gutter-xxl - $column-gutter});
            margin: 0 #{$column-gutter/2} 0 -#{$page-gutter-xxl - $column-gutter/2};
            > div {
                padding-bottom: calc((100% + #{$page-gutter-xxl}) * 0.625) !important;
            }
        }
    }
    &.isRightImage .image {
        @media(min-width: $screen-lg) {
            margin: 0 -#{$page-gutter-lg - $column-gutter/2} 0 #{$column-gutter/2};
        }
        @media(min-width: $screen-xl) {
            margin: 0 -#{$page-gutter-xl - $column-gutter/2} 0 #{$column-gutter/2};
        }
        @media(min-width: $screen-xxl) {
            margin: 0 -#{$page-gutter-xxl - $column-gutter/2} 0 #{$column-gutter/2};
        }
    }

    @media(min-width: $screen-lg) {

        &.isRightImage {
            flex-direction: row-reverse;
        }

        .postit {
            width: calc(37.5% - #{$gutter-medium});
            padding-bottom: calc(37.5% - #{$gutter-medium});
            margin: $gutter-medium/2;
        }
    }

}
