@import "../../../../scss/variables";
@import "../../../../scss/mixins/mixins";
@import '../../page-component';
@import '../columns';

.columnsWrapper {

    @include columns-component;

    .image {
        margin-left: -$gutter-small;
        margin-right: -$gutter-small;

        @media (min-width: $screen-md) {
            margin-left: -$gutter-medium;
            margin-right: -$gutter-medium;
        }
    }

    .copy {
        @include copy;
    }

    @media (min-width: $screen-lg) {

        .image {
            width: calc(37.5% + #{$page-gutter});
            margin: 0 #{$column-gutter/2} 0 -#{$page-gutter + $column-gutter/2};
            > div {
                padding-bottom: calc(62.5% + #{$page-gutter}) !important;
            }
        }

        .postit {
            width: calc(37.5% - #{$gutter-medium});
            padding-bottom: calc(37.5% - #{$gutter-medium});
            margin: $gutter-medium/2;
        }

        .copy {
            width: calc(62.5% - #{$gutter-medium});
            margin-bottom: $gutter-medium/2;

        }

        &.isRightImage {
            flex-direction: row-reverse;

            .image {
                margin: 0 -#{$page-gutter + $column-gutter/2} 0 #{$column-gutter/2};
            }
        }

    }
}
