@import "../../../../scss/variables";
@import "../../../../scss/mixins/mixins";
@import '../../page-component';
@import '../columns';

.columnsWrapper {

    @include columns-component;
    &.isImage {
        @media (min-width: $screen-md) {
            align-items: unset;
        }
    }

    .copy {
        @include copy;
        @media (min-width: $screen-md) {
            width: calc(50% - #{$gutter-medium});
        }
    }

    &.isImage .copy {
        @media (min-width: $screen-md) {
            margin: calc(14vw - 100px) 1rem;
        }
    }

    &.isPostit .copy {
        margin-top: $gutter-small;
    }

    .image {
        margin-left: -$page-gutter-sm;
        margin-right: -$page-gutter-sm;

        @media(min-width: $screen-md) {
            > div {
                display: none;
            }

            width: calc(50vw - 1rem);
            margin: 0 $gutter-medium/2 0 calc(-50vw + 50%);
        }
    }
    .postit {
        margin: 0;
    }
    &.isRightImage .image {
        @media(min-width: $screen-md) {
            margin: 0 calc(-50vw + 50%) 0 $gutter-medium/2;
        }
    }

    @media(min-width: $screen-md) {

        &.isRightImage {
            flex-direction: row-reverse;
        }

        .postit {
            width: calc(50% - #{$gutter-medium});
            padding-bottom: calc(50% - #{$gutter-medium});
            margin: $gutter-medium/2;
        }
    }

}
