@import "../../../scss/variables";
@import "../../../scss/mixins/mixins";
@import "../../../scss/mixins/typography";
@import "../../page-components/page-component";

.footer {

    .getInTouch {

        @include flexRow(row, nowrap, normal);
        background-color: $blue-background;
        background-image: url('/images/footer-bg.webp');
        background-position: center;
        background-size: cover;

        h1 {
            @include fontXXLarge;

            padding: 3rem $page-gutter;
            line-height: 1.5;
            color: white;
            margin-bottom: 0;

            a {
                &:before {
                    content: ' ';
                }
                @include arrow-link;
            }
        }
    }

    address {
        @include component-gutter;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-style: normal;
        :first-child :first-child {
            &:after {
                content: '//';
                font-weight: bold;
                @include orange-type;
                padding-left: $gutter-small/2;
            }
        }

        a, .address, .copyright {
            padding: 0 $gutter-small/4;
            line-height: 2;
            color: black;
            display: block;
        }

        a {
            line-height: 3;
        }

        .address, .copyright, .legal a {
            font-weight: lighter;
        }

        section {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;
        }
    }
}


