@import "../../../scss/variables";
@import "../../../scss/mixins/mixins";
@import "../../../scss/mixins/typography";
@import "../../page-components/page-component";
@import "../../page-components/columns/columns";

.footer {

    > section {
        background-color: $blue-background;
        background-image: url('/images/footer-bg.webp');
        background-position: center;
        background-size: cover;
    }

    .footerLinks {

        > h2 {
            color: $orange;
            align-items: stretch;
            @include headingFontMedium;
            padding: calc(1.45em) 0 0.35em;
            margin-bottom:0;
            @media (min-width: $screen-md) {
                margin-bottom: 0;
            }
        }
        > section {
            @include columns-component;
            margin-bottom: -$column-gutter-sm/2;
            @media (min-width: $screen-md) {
                align-items: stretch;
                margin-bottom: -$column-gutter-md/2;
            }
            @media (min-width: $screen-lg) {
                margin-bottom: -$column-gutter-lg/2;
            }
            > a {
                width: calc((100% / 1) - #{$column-gutter-sm});
                @media (min-width: $screen-md) {
                    width: calc((100% / 3) - #{$column-gutter-md});
                    display: flex;
                    flex-direction: column;
                }
                @media (min-width: $screen-lg) {
                    width: calc((100% / 3) - #{$column-gutter-lg});
                }
            }

            section {
                @include fontSmallVr;
                padding: $column-gutter-sm/2;
                @media (min-width: $screen-md) {
                    padding: $column-gutter-md/2;

                }
                @media (min-width: $screen-lg) {
                    padding: $column-gutter-lg/2;

                }
                background: white;
                display: flex;
                flex-direction: column;
                justify-content: stretch;
                flex-grow: 1;
                & {
                    margin-bottom: 0;

                    @media (min-width: $screen-md) {
                        margin-bottom: 0;
                    }
                }
                :last-child {
                    margin-bottom: 0;
                }

                h2 {
                    order: 0;
                }

                .footerLinkImage {
                    order: -1;
                    margin: -$column-gutter-sm/2;
                    margin-bottom: $column-gutter-sm;
                    @media (min-width: $screen-md) {
                        margin: -$column-gutter-md/2;
                        margin-bottom: $column-gutter-md;
                    }
                    @media (min-width: $screen-lg) {
                        margin: -$column-gutter-lg/2;
                        margin-bottom: $column-gutter-lg;
                    }
                }


                button {
                    @include arrow-link;
                    color: $orange;
                    font-weight: bold;
                    flex-grow: 0;
                    align-self: flex-start;
                    margin: auto 0 0;
                    border: none;
                    padding: 0;
                    background: unset;
                    line-height: $line-height;
                }
            }
        }

        @media (min-width: $screen-md) {
            //        margin-bottom: -$column-gutter/2;
            //        flex-direction: row;
            //        flex-wrap: wrap;
            //        align-items: stretch;
            //        margin-left: auto;
            //        margin-right: auto;
            //
            //        > * {
            //            width: calc((100% / 3) - #{$column-gutter});
            //            display: flex;
            //            flex-direction: column;
            //        }
            //
        }
    }

    .getInTouch {

        margin-bottom: 0;

        h2 {
            @include headingFontMedium;
            margin-bottom: 0;
            @media (min-width: $screen-md) {
                max-width: $singleColumnMaxWidth;
                margin-bottom: 0;
            }

            @media (min-width: $screen-lg) {
                //padding-right: calc(#{$component-gutter-lg} + (#{$max_width} * 0.15));
            }
            //margin-bottom: 0;
            //font-weight: normal;
            //        @media (min-width: $screen-lg) {
            //            max-width: $singleColumnMaxWidth;
            //            line-height: $line-height;
            //            margin-bottom: 0;
            //            font-weight: bold;
            //        }
            //
            padding-top: 1.85em;
            padding-bottom: 1.85em;
            color: white;
            //
            a {
                display: block;
                padding-top: 2em;
                &:before {
                    content: ' ';
                }
                font-weight: normal;
                @include arrow-link;
                @media (min-width: $screen-md) {
                    display: inline-block;
                    padding-top: unset;
                    font-weight: bold;
                }
            }
        }
    }
    //
    address {
        @include component-gutter;
        margin: -1em auto $component-gutter-sm;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-style: normal;
        @media (min-width: $screen-md) {
            margin: -$column-gutter-md auto $component-gutter-md;
            :first-child :first-child {
                &:after {
                    content: '//';
                    font-weight: bold;
                    @include orange-type;
                    padding-left: 0.5em;
                }
            }
        }
        @media (min-width: $screen-lg) {
            margin: -$column-gutter-lg auto $component-gutter-lg;
            :first-child :first-child {
                &:after {
                    content: '//';
                    font-weight: bold;
                    @include orange-type;
                    padding-left: $column-gutter-sm;
                }
            }
        }

        :first-child a {
            @media (min-width: $screen-md) {
            }
        }

        a, .address, .copyright {
            padding: 0 $column-gutter-sm/2;
            line-height: 2;
            color: black;
            display: block;
        }

        a {
            line-height: 3;
        }

        .address, .copyright, .legal a {
            font-weight: lighter;
        }

        section {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;
        }
    }
}


