@import "../variables";

.flexRow {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;

    p {
        font-weight: lighter;
    }

    &.noGrow {
        flex-direction: column;
    }

    &.flexGrow {
        align-items: center;
        > div {
            flex: 1;
        }
    }
}

@media(min-width: $screen-md){
    .flexRow {
        flex-direction: unset;

        //&:nth-child(1) {
        //    margin-right: 25px;
        //}
        //
        //&:nth-child(2) {
        //    margin-left: 25px;
        //}
    }
}