@import "../styles/variables";
@import "../styles/mixins";

.flexRow {
    @include flexRow(column, nowrap, flex-end);

    h1, p {
        padding: 0 1rem;
    }

    p {
        font-weight: lighter;
        margin-bottom: 0;
        margin-top: 0;
    }

    &.noGrow {
        flex-direction: column;
    }

    &.flexGrow {
        align-items: center;
        > div {
            flex: 1;
        }
    }
}

@media(min-width: $screen-md){
    .flexRow {
        flex-direction: unset;

        h1, p {
            padding: 0;
        }
    }
}