@import "../../page-components/columns/columns";
@import "../../../scss/mixins/typography";

.applicationForm {
    @include component-gutter;

    > section {
        @include columns-component;
        @include fontMediumVr;
        @media (min-width: $screen-md) {

            align-items: flex-start;
            margin-bottom: #{$gutter-large - $column-gutter/2};
        }

        &:last-child {
            margin-bottom: 0;
            :last-child {
                margin-bottom: 0;
            }
        }

        header {
            @media (min-width: $screen-md) {

                width: calc((100% / 3) - #{$column-gutter});
            }

            h2 {
                margin-bottom: 0;
            }

            :last-child {
                margin-bottom: 0;
            }
            margin-bottom: 1em;
        }

        input[type=checkbox], input[type=radio] {
            @include fontMediumVr;
            position: relative;
            height: 1em;
            width: 1em;
            visibility: hidden;
            margin: 0 0.5em 0 0;
            display: inline-block;
            vertical-align: baseline;

            &:before, &:after {
                visibility: visible;
            }

            &:before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width:100%;
                padding-bottom: 100%;
                border: 1px solid $input-grey;
            }

            &:after {
                position: absolute;
                content: '';
                top: 3px;
                left: 3px;
                width: calc(100% - 4px);
                padding-bottom: calc(100% - 4px);
            }

            &:checked:after {
                background: $grey-4;
            }

            &[type=radio] {
                &:before, &:after {
                    border-radius: 100%;
                }
            }
        }

        > section {
            display: flex;

            flex-direction: row;
            flex-wrap: wrap;
            margin-right: 0;
            @include fontMediumVr;

            &:last-child {
                margin-bottom: 0;
            }

            @media (min-width: $screen-md) {

                &, &:last-child {
                    width: calc((100% * 2 / 3));
                    margin-left: auto;
                    margin-bottom: calc(#{$column-gutter/2} - #{$rhythm-unit}em);
                }
            }

            > label {
                width: 100%;

                &:last-child {
                    input {
                        margin-bottom: 0;
                    }
                }

                @media (min-width: $screen-md) {

                    width: calc((100% / 2) - #{$column-gutter});
                        margin: 0 $column-gutter/2 #{$rhythm-unit}em;
                }

                &.fullWidth {
                    width: calc((100% / 1) - #{$column-gutter});
                    flex-direction: row;

                }

                line-height: $rhythm-unit;
                display: flex;
                flex-direction: column;
            }

            input {
                padding: 0 $gutter-small/2;
                line-height: #{1.5*$rhythm-unit}em;
                border: 1px solid $input-grey;
                margin-bottom: #{$rhythm-unit/2}em;
                @media (min-width: $screen-md) {

                    margin: calc(#{$rhythm-unit/4}em - 2px) 0;
                }
            }

            textarea {
                height: auto;
                line-height: $rhythm-unit;
                padding: calc(#{$gutter-small/2} - 1px);
                border: 1px solid $input-grey;
                width: 100%;
                @media (min-width: $screen-md) {

                    width: calc((100% / 1) - #{$column-gutter});
                    margin: -#{$gutter-small/2} $column-gutter/2 #{$rhythm-unit}em;
                }
            }

            button {
                cursor: pointer;
                @include fontMedium;
                margin-top: calc(#{($rhythm-unit - 1)/2}em - 0.5em);
                margin-bottom: 0;
                line-height: 1;
                background-color: $orange;
                color: white;
                border: none;
                display: flex;
                align-items: center;
                padding: 0.5em;
                @include arrow-link;

                @media (min-width: $screen-md) {
                    margin-right: 0.5em;

                }

                &:after {
                    content: url(/images/hf-arrow.white.svg);
                }

                &.submit {
                    @include fontLarge;
                }
            }

            &.questions {
                > * {
                    width: 100%;
                }

                > label {
                    input {
                        margin-bottom: 0;
                        @media (min-width: $screen-md) {

                            margin: calc(#{$rhythm-unit/4}em - 2px) 0;
                        }
                    }

                    margin-bottom: #{$rhythm-unit}em;
                }

                [role="group"] {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: #{$rhythm-unit}em;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    > * {
                        @media (min-width: $screen-md) {

                            margin-left: $column-gutter/2;
                            margin-right: $column-gutter/2;
                        }
                    }

                    h2 {
                        @include fontMediumVr;
                        line-height: $rhythm-unit;
                        font-weight: normal;

                        & {
                            margin-bottom: #{$rhythm-unit/2}em;
                        }

                        @media (min-width: $screen-md) {

                            margin-bottom: 0;
                        }
                    }

                    label {
                        cursor: pointer;

                        line-height: $rhythm-unit;

                        input {
                            margin-bottom: 0;
                            @media (min-width: $screen-md) {
                                margin-bottom: #{($rhythm-unit - 1)/4}em;
                            }
                        }
                    }
                }
            }

            .fileUpload {

                align-items: flex-start;
                flex-direction: row;
                width: 100%;

                button {
                    flex-shrink: 0;
                    margin-right: 0.5em;
                }
            }
        }

            .submit {

                [role="group"] {
                    @media (min-width: $screen-md) {

                        margin: 0 $column-gutter/2;
                    }
                }

                label {
                    display: block;
                    margin-bottom: #{$rhythm-unit}em;
                    @media (min-width: $screen-md) {
                        margin-bottom: #{$rhythm-unit}em;
                    }
                    input {
                        margin: 0 0.5em 0 0 ;
                    }
                }

                button {
                    @include fontLarge;
                    padding: 0.5em;
                }
            }
        }
    }
