@import "../../../scss/variables";
@import "../../../scss/mixins/mixins";
@import "../../../scss/mixins/typography";
@import '../page-component';
@import "../columns/columns";

.hero {
    @include component-gutter;
    > h1 {
        @include headingFontXLarge;
    }
    > section {
        @include fontLarge;
        margin-bottom: 0;
    }

    &.isTwoColumns {
        @include columns-component;
    }
    @media(min-width: $screen-lg) {

        &.isTwoColumns {
            //display: flex;
            //flex-direction: row;
            //align-items: center;
            //margin-left: $gutter-medium/2;
            //margin-right: $gutter-medium/2;
            //
            //> h1, > section {
            //    padding: 0 $gutter-medium/2;
            //}

            > h1 {
                width: calc(37.5% - #{$column-gutter});
                //margin-bottom: 0;
            }

            > section {
                width: calc(62.5% - #{$column-gutter});
                //margin-bottom: 0;
            }
        }
    }
}
