@import "../../../scss/variables";
@import "../../../scss/mixins/mixins";
@import "../../../scss/mixins/typography";
@import '../page-component';
@import "../columns/columns";

.hero {
    @include component-gutter;
    @include fontMedium;
    margin: 0;
    margin-bottom: $component-gutter-sm;
    @media (min-width: $screen-md) {
        margin: 0;
        margin-bottom: $component-gutter-md;
    }
    @media (min-width: $screen-lg) {
        margin: 0;
        margin-bottom: $component-gutter-lg;
    }

    > section {
        :last-child {
            margin-bottom: 0;
        }
    }

    &:first-child:after {
        @media (min-width: $screen-md) {
            z-index: -1;
            content: url(/images/hf-arrow.svg);
            position: absolute;
            top: -$component-gutter-md + $column-gutter-md/2;
            right: -50%;
            width: 62.5%;
            opacity: 0.05;
        }
        @media (min-width: $screen-lg) {
            top: -$component-gutter-lg + $column-gutter-lg/2;
        }
    }
    &.isTwoColumns:after {
        display: none;
    }

    @media(min-width: $screen-md) {

        position: relative;
        max-width: $singleColumnMaxWidth;

        &.isTwoColumns {
            display: flex;
            max-width: unset;
            align-items: flex-start;

            > section {
                column-count: 2;
                column-gap: 2*$column-gutter-md;
            }

            &.hasTitle {

                h2 {
                    flex-shrink: 1;
                    flex-grow: 1;
                }

                > section {
                    width: calc(62.5% - #{$column-gutter-md/2});
                    flex-shrink: 0;
                    margin-left: $column-gutter-md;
                    column-count: unset;
                    column-gap: unset;
                }
            }
        }
    }
    @media(min-width: $screen-lg) {


        &.isTwoColumns {

            > section {
                column-gap: 2*$column-gutter-lg;
            }

            &.hasTitle {

                > section {
                    width: calc(62.5% - #{$column-gutter-lg/2});
                    margin-left: $column-gutter-lg;                }
            }
        }
    }
}
