@import "../../../scss/variables";
@import "../../../scss/mixins/mixins";
@import "../../../scss/mixins/typography";
@import '../page-component';
@import "../columns/columns";

.hero {
    @include component-gutter;
    > h2 {
        @include headingFontLarge;
    }
    > section {
        > :not(section) {
            @include fontMedium;
            @media(min-width: $screen-md) {
                @include fontLarge;
            }
        }
        :last-child {
            margin-bottom: 0;
        }
    }

    &.isTwoColumns {
        @include columns-component;
        > h2 {
            margin-bottom: $gutter-small;
        }
    }
    @media(min-width: $screen-md) {

        max-width: $singleColumnMaxWidth;

        &.isTwoColumns {
            max-width: unset;
            align-items: flex-start;

            > section {
                column-count: 2;
                column-gap: $gutter-medium;
            }

            &.hasTitle {
                > h2 {
                    width: calc(37.5% - #{$column-gutter});
                    @include headingFontLarge;
                }

                > section {
                    width: calc(62.5% - #{$column-gutter});
                    column-count: unset;
                    column-gap: unset;
                }
            }
        }
    }
}
