@import "../../scss/fonts/fs-albert-web";
@import "../../scss/mixins/typography";
@import "../../scss/variables";

.wrapper {
    padding: $gutter-medium;
    > :last-child {
        margin-bottom: 0;
    }

    @media screen and (min-width: $screen-lg) {
        margin: $gutter-small;
        border: 1px solid $paragraph_grey;
        box-shadow: 0.125rem 0.125rem 0.25rem 0 rgba($paragraph_grey, 0.1);
    }
}

h2 {
    &.xxxlarge {
        @include headingFontXXXLarge;
    }

    &.xxlarge {
        @include headingFontXXLarge;
    }

    &.xlarge {
        @include headingFontXLarge;
    }

    &.large {
        @include headingFontLarge;
    }

    &.medium {
        @include headingFontMedium;
    }

    &.small {
        @include headingFontSmall;
    }
}
p {
    &.xxlarge {
        @include fontXXLarge;
    }

    &.xlarge {
        @include fontXLarge;
    }

    &.large {
        @include fontLarge;
    }

    &.medium {
        @include fontMedium;
    }

    &.small {
        @include fontSmall;
    }
}

.colours {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    dd, dt {
        display: block;
        margin: 0.5rem;
        padding: 0;
    }

    dt {
        width: 2rem;
        height: 2rem;
        border: 1px solid black;
    }
    dd {
        width: calc(100% - 2rem - 2rem);
        flex-shrink: 0;
    }

    .orange1 {
        background: $orange-1;
    }
    .orange2 {
        background: $orange-2;
    }

    .blue1 {
        background: $blue-1;
    }
    .blue2 {
        background: $blue-2;
    }

    .grey1 {
        background: $grey-1;
    }
    .grey2 {
        background: $grey-2;
    }
    .grey3 {
        background: $grey-3;
    }
    .grey4 {
        background: $grey-4;
    }
    .grey5 {
        background: $grey-5;
    }
    .grey6 {
        background: $grey-6;
    }
    .grey7 {
        background: $grey-7;
    }
    .grey8 {
        background: $grey-8;
    }
    .grey9 {
        background: $grey-9;
    }
    .grey10 {
        background: $grey-10;
    }
}

.fsAlbertWeb {
    font-family: 'FS ALbert Web';
}
