@import "../variables";

@mixin flexRow($direction: row, $wrap: wrap, $justify-content: space-between) {
    display: flex;
    flex-direction: $direction;
    margin-bottom: $gutter-medium;
    flex-wrap: $wrap;
    justify-content: $justify-content;
}

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-font-size, $max-font-size) {
    $u1: unit($screen-sm);
    $u2: unit($screen-xxl);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            font-size: $min-font-size;
            @media screen and (min-width: $screen-sm) {
                font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$screen-sm}) / #{strip-unit($screen-xxl - $screen-sm)}));
            }
            @media screen and (min-width: $screen-xxl) {
                font-size: $max-font-size;
            }
        }
    }
}
