@import "../variables";
@import './mixins';

$heading-line-height: 1.1;
$heading-margin-bottom: 0.6em;
$line-height: 1.4;
$margin-bottom: 1em;

@mixin orange-type {
    color: $orange;
    font-weight: 700;
}

@mixin headingFontXXXLarge {
    @include fluid-type($mod_1*$mod_1*$mod_1*$mod_1*$mod_1*$min_font, $mod_2*$mod_2*$mod_2*$mod_2*$mod_2*$max_font);
}

@mixin headingFontXXLarge {
    @include fluid-type($mod_1*$mod_1*$mod_1*$mod_1*$min_font, $mod_2*$mod_2*$mod_2*$mod_2*$max_font);
}
@mixin headingFontXLarge {
    @include fluid-type($mod_1*$mod_1*$mod_1*$min_font, $mod_2*$mod_2*$mod_2*$max_font);
}
@mixin headingFontLarge {
    @include fluid-type($mod_1*$mod_1*$min_font, $mod_2*$mod_2*$max_font);
}
@mixin headingFontMedium {
    @include fluid-type($mod_1*$min_font, $mod_2*$max_font);
}
@mixin headingFontSmall {
    @include fluid-type($min_font, $max_font);
}

@mixin fontXXLarge {
    &, p {
        @include fluid-type($mod_1*$mod_1*$mod_1*$min_font, $mod_2*$mod_2*$mod_2*$min_font);
    }
}
@mixin fontXLarge {
    &, p {
        @include fluid-type($mod_1*$mod_1*$min_font, $mod_2*$mod_2*$min_font);
    }
}
@mixin fontLarge {
    &, p {
        @include fluid-type($mod_1*$min_font, $mod_2*$min_font);
    }
}
@mixin fontMedium {
    &, p {
        @include fluid-type($min_font, $min_font);
    }
}
@mixin fontSmall {
    &, p {
        @include fluid-type($min_font/$mod_1, $min_font/$mod_2);
    }
}
