//@import "../fonts/fs-albert";
@import "../fonts/fs-albert-web";
@import "../variables";
@import './mixins';

$heading-line-height: $mod_1;
$heading-margin-bottom: 0.6em;
$line-height: $mod_2;
$margin-bottom: 1em;

* {
    font-family: "FS Albert Web", Arial, sans-serif;
}

@mixin orange-type {
    color: $orange;
    font-weight: 700;
}

@mixin headingFontXXXLarge {
    @include fluid-type($mod_1*$mod_1*$mod_1*$mod_1*$mod_1*$min_font, $mod_2*$mod_2*$mod_2*$mod_2*$mod_2*$min_font);
    line-height: $heading-line-height;
    margin-bottom: $heading-margin-bottom;
}

@mixin headingFontXXLarge {
    @include fluid-type($mod_1*$mod_1*$mod_1*$mod_1*$min_font, $mod_2*$mod_2*$mod_2*$mod_2*$min_font);
    line-height: $heading-line-height;
    margin-bottom: $heading-margin-bottom;
}
@mixin fontXXLarge {
    &, p {
        @include fluid-type($mod_1*$mod_1*$mod_1*$min_font, $mod_2*$mod_2*$mod_2*$min_font);
    }
    line-height: $line-height;
    margin-bottom: $margin-bottom;
}

@mixin headingFontXLarge {
    @include fluid-type($mod_1*$mod_1*$mod_1*$min_font, $mod_2*$mod_2*$mod_2*$min_font);
    line-height: $heading-line-height;
    margin-bottom: $heading-margin-bottom;
}
@mixin fontXLarge {
    &, p {
        @include fluid-type($mod_1*$mod_1*$min_font, $mod_2*$mod_2*$min_font);
    }
    line-height: $line-height;
    margin-bottom: $margin-bottom;
}

@mixin headingFontLarge {
    @include fluid-type($mod_1*$mod_1*$min_font, $mod_2*$mod_2*$min_font);
    line-height: $heading-line-height;
    margin-bottom: $heading-margin-bottom;
}
@mixin fontLarge {
    &, p {
        @include fluid-type($mod_1*$min_font, $mod_2*$min_font);
    }
    line-height: $line-height;
    margin-bottom: $margin-bottom;
}

@mixin headingFontMedium {
    @include fluid-type($mod_1*$min_font, $mod_2*$min_font);
    line-height: $heading-line-height;
    margin-bottom: $heading-margin-bottom;
}
@mixin fontMedium {
    &, p {
        @include fluid-type($min_font, $max_font);
    }
    line-height: $line-height;
    margin-bottom: $margin-bottom;
}

@mixin headingFontSmall {
    @include fluid-type($min_font, $max_font);
    line-height: $heading-line-height;
    margin-bottom: $heading-margin-bottom;
}
@mixin fontSmall {
    &, p {
        @include fluid-type($min_font/$mod_1, $min_font/$mod_2);
    }
    line-height: $line-height;
    margin-bottom: $margin-bottom;
}
