@import "../../../scss/variables";

.privacySection {
    column-count: 2;
    margin-bottom: $gutter-large;

    h1 {
        color: $header_black;
    }

    p, ul, li {
        color: #4D4D4D;
    }

    ul {
        text-indent: 1rem;
        font-weight: lighter;
    }

    li {
        line-height: 24px;
    }
}

