@import "../../../page-components/columns/columns";

.newsSummary {
    @include columns-component;
    @media(min-width: $screen-lg) {
        align-items: stretch;
    }

    .newsItem {

        display: flex;

        @media(min-width: $screen-lg) {
            width: calc(100% / 2 - #{$gutter-medium});
        }
        @media(min-width: $screen-xl) {
            width: calc(100% / 3 - #{$gutter-medium});
        }

        article {
            display: flex;
            flex-direction: column;
            color: unset;

            header {
                display: flex;
                flex-direction: column;
                @include fontMedium;

                .image {
                    order: 1;
                    @include fontMedium;
                }

                h2 {
                    order: 2;
                    @include headingFontMedium;
                    margin-bottom: 0;
                }

                time {
                    order: 3;
                    @include fontSmall;
                    margin-bottom: 0;
                }
            }

            h2 {
                @include headingFontMedium;
            }

            @include fontMedium;

            time {
                @include fontSmall;
            }

            p {
                flex-grow: 1;
            }

            .readMore {
                @include arrow-link;
                display: block;
                text-align: right;
            }
        }
    }
}
