@import "../../../scss/mixins/typography";
.socialShare {
  @include fontMediumVr;
  line-height: 3rem;
  & {
    margin-bottom: 0;
  }
  display: flex;
  align-items: center;
  a {
    @include headingFontMediumVr;
    margin-bottom: 0;
    margin-left: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all $transitionTime ease;
    color: $social-icon-grey;
    &:hover {
      color: $blue-background;
    }
  }
}
