@import "../../../scss/mixins/typography";
.socialShare {
  @include fontMediumVr;
  line-height: 3rem;
  & {
    margin-bottom: 0;
  }
  display: flex;
  align-items: center;
  a {
    @include headingFontMediumVr;
    width: 3rem;
    height: 3rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all $transitionTime ease;
    color: $social-icon-grey;

    &:hover {
      color: $blue-background;
    }

    &:first-child {
      margin-left: calc(1.5rem - 0.5em);
    }

    &:last-child {
      margin-right: calc(0.5em - 1.5rem);
    }

    .icon {
      width: 1em;
      height: 1em;
    }
  }
}
