@import "../../page-components/page-component";
@import "../../page-components/columns/columns";

.intro {
  @media (min-width: $screen-md) {
    position: relative;
    width: $singleColumnMaxWidth;
    &:after {
      @media (min-width: $screen-md) {
        content: url(/images/hf-arrow.black.svg);
        opacity: 0.05;
        position: absolute;
        right: -50%;
        top: -$component-gutter-md + $column-gutter-md/2;
        width: 62.5%;
        z-index: -1;
      }
      @media (min-width: $screen-lg) {
        top: -$component-gutter-lg + $column-gutter-lg/2;
      }
    }
  }
}
