@import "../../../../scss/variables";
@import "../../../../scss/mixins/mixins";
@import "../../../../scss/mixins/typography";
@import "../../page-component";
@import "../columns";

.blogPostColumns {
  @include fontMedium;
  @include component-gutter;

  > h2 {
    @include orange-type;
    margin-bottom: #{$rhythm-unit/2}em;
  }

  > section {
    @include columns-component;

    > a {
      .article {
        @include fontMediumVr;
        display: flex;
        flex-direction: column;

        margin-bottom: 0;
        position: relative;
        @media (min-width: $screen-md) {
          margin-bottom: 0;
        }

        h2 {
          color: $header_black;
          flex-grow: 1;
          margin-bottom: 0;
          order: 2;
        }

        .image {
          margin: 0 -#{$column-gutter-sm};
          margin-bottom: 1em * $rhythm-unit;
          order: 1;
          position: relative;
          overflow: visible !important;

          &:after {
            @include fontMedium;
            background: linear-gradient(315deg, $orange 50%, transparent 50%);
            mix-blend-mode: multiply;
            @media all and (-ms-high-contrast: none),
              (-ms-high-contrast: active) {
              background: linear-gradient(
                315deg,
                rgba(#ffb800, 0.6) 50%,
                transparent 50%
              );
            }
            border-radius: 0 0 $column-gutter-sm 0;
            bottom: -$column-gutter-sm/2;
            content: "";
            padding-bottom: 25%;
            position: absolute;
            right: $column-gutter-sm/2;
            width: 25%;
            z-index: 10;
            @media (min-width: $screen-md) {
              bottom: -$column-gutter-md/4;
              right: $column-gutter-md/4;
            }
            @media (min-width: $screen-lg) {
              bottom: -$column-gutter-lg/4;
              right: $column-gutter-lg/4;
            }
          }

          &:before {
            content: "";
            position: absolute;
            background: url(/images/hf-arrow.white.svg);
            bottom: $column-gutter-sm;
            right: $column-gutter-sm * 1.5;
            width: 1.5em;
            height: 1.5em;
            z-index: 20;
            @media (min-width: $screen-md) {
              bottom: $column-gutter-md/2;
              right: $column-gutter-md;
            }
          }
        }
      }

      @media (min-width: $screen-md) {
        width: calc(50% - #{$column-gutter-md});

        .article {
          .image {
            margin: 0 0 #{$rhythm-unit}em;
          }
        }
      }
      @media (min-width: $screen-lg) {
        width: calc(50% - #{$column-gutter-lg});
      }
    }
  }
}
