@import '../../../scss/variables';
@import '../../../scss/mixins/mixins';
@import '../../../scss/mixins/typography';
@import '../../page-components/page-component';

.menu {
    position: relative;

    background-color: white;
    border-bottom: 1px solid $grey-9;

    transition: background-color ease 0.5s;

    padding-top: $component-gutter-sm/4;
    padding-bottom: $component-gutter-sm/4;
    @media (min-width: $screen-md) {
        padding-top: $component-gutter-md/4;
        padding-bottom: $component-gutter-md/4;
    }
    @media (min-width: $screen-lg) {
        padding-top: $component-gutter-lg/4;
        padding-bottom: $component-gutter-lg/4;
    }

    > header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 -#{$column-gutter-sm/2};
        @media (min-width: $screen-md) {
            margin: 0 -#{$column-gutter-md/2};
        }
        @media (min-width: $screen-lg) {
            margin: 0 -#{$column-gutter-lg/2};
        }

        a {
            &:after{
                content: '';
                @include headingFontLarge;
                height: #{$rhythm-unit}em;
                display: inline-block;
            }
            margin: 0 $column-gutter-sm/2;
            @media (min-width: $screen-md) {
                margin: 0 $column-gutter-md/2;
                &:after {
                    @include headingFontMedium;
                }
            }
            @media (min-width: $screen-lg) {
                margin: 0 $column-gutter-lg/2;
            }
            @media (min-width: $screen-xl) {
                margin-left: -1.5em;
            }

            text-indent: -1000vw;
            background-image: url("/images/headforwards.black.png");
            background-size: contain;
            flex: 1;
            background-repeat: no-repeat;
            background-position: 0 center;
        }
    }

    > section {
        display: none;
        opacity: 0;
        transition: opacity ease 0.5s;

        > ul {

            margin: 0;
            border-top: 1px solid #383F51;

            .navHomeLink {
                display: none;
            }

            .isOpen {
                > a {
                    color: $orange;
                }
            }

            > li > a {

                    display: block;
                    text-decoration: none;
                    color: white;
                    line-height: 2;
                }

                > li > a {
                    margin-bottom: 0;
                    color: white;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                }

                > li {
                    @include fontXLarge;

                    &.hasChildren > a {
                        display: flex;

                        button {
                            @include fontSmall;
                            background: none;
                            border: none;
                            color: white;
                            width: 40px;
                            display: flex;
                            justify-content: center;

                        }
                    }

                    border-bottom: 1px solid #383F51;
                    text-decoration: none;

                    h2 {
                        display: none;
                    }

                    > section {
                        display: none;

                        ul {
                            @include fontLarge;
                        }

                        a {
                            color: #d7d7d6;
                            display: block;
                            padding: 0.5em 0;
                        }
                    }

                    &.isOpen {
                        > section {
                            display: block;
                        }
                    }
                }
            }

        dt, dd, h2, li {
            @include fontSmall;
            margin-bottom: 0;
        }
        dt, dd {
            display: block;
            color: white;
            padding: 0;
            margin: 0;
        }

        dt, h2 {
            text-transform: uppercase;
            @include orange-type;
            font-weight: normal;
        }

        dd, li {
            line-height: 2;
            margin-bottom: 0;
        }

        ul {
            margin-bottom: $column-gutter-sm/2;
        }
    }

    &:global(.is-active) {
        position: fixed;
        @media screen and (min-width: $screen-lg) {
            position: relative;
        }
        z-index: 100;
        background-color: $blue-background;
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow: hidden;
        border-bottom: none;

        > header {

            a {
                background-image: url("/images/headforwards.white.png");
            }

        }

        > section {
            margin-top: $component-gutter-sm/2;
            overflow: hidden;
            opacity: 1;
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            ul {
                flex-grow: 1;
                flex-shrink: 1;
                overflow-x: auto;
                @media screen and (min-width: $screen-lg) {
                    overflow-x: unset;
                }
            }
        }
    }

    @media (min-width: $screen-md) {

        > section {
            margin-top: 0;
            > ul {
                border-top: none;
                @include fontMedium;
                margin: $component-gutter-md -#{$column-gutter-md/2};
                display: flex;
                flex-direction: row;

                .navHomeLink {
                    display: unset;
                }
                .navContactLink {
                    display: none;
                }

                > li {
                    margin: 0 $column-gutter-md/2;
                    width: calc((100% /5) - #{$column-gutter-md});
                    border-bottom: none;

                    > a {
                        @include fontMedium;
                        border-bottom: 1px solid rgba($grey-9, 0.2);
                    }

                    > section {
                        ul li {
                            @include fontSmall;
                            line-height: 1.2;
                            margin: 1.2em 0;
                        }
                        a {
                            font-weight: normal;
                            padding: 0;

                        }
                    }

                    &.hasChildren {
                        > a button {
                            display: none;
                        }
                        > section {
                            display: unset;
                        }
                    }
                }
            }

            > section {
                display: flex;
                margin: 0 -#{$column-gutter-md/2};

                > * {
                    margin: 0 $column-gutter-md/2;
                    min-width: calc((100% /5) - #{$column-gutter-md});
                }
            }
        }

        &:global(.is-active) {
            > section {
                margin-top: 0;
            }
        }
    }

    @media screen and (min-width: $screen-lg) {

        transition: unset;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;

        margin-bottom: 0;
        border-bottom: none;

        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            height: 1px;
            width: calc(100% - #{2*$column-gutter-lg});
            background: #D8D8D8;
        }
        &:global(.with-bg):after {
            opacity: 0.2;
        }

        &:global(.is-active) {
            background-color: unset;
            height: unset;
            overflow: visible;
            border-bottom: 1px solid #D8D8D8;
            flex-direction: row;

            > header {

                a {
                    background-image: url("/images/headforwards.black.png");
                }
            }

            > section {
                overflow: visible;
                padding-top: unset;
                margin-top: $component-gutter-sm/2;
            }
        }

        > header {
            width: 37.5%;
            flex-shrink: 0;
            flex-grow: 1;
            margin-bottom: 0;
        }

        > section {
            max-width: 100%;
            opacity: unset;
            display: block;
            margin-top: $component-gutter-sm/2;

            > ul {
                @include fontMedium;
                margin: 0 -#{$column-gutter-lg/2};
                border-top: none;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                flex-wrap: wrap;

                .navHomeLink {
                    display: none;
                }
                .navContactLink {
                    display: unset;
                }

                > li {
                    width: unset;
                    position: relative;
                    border: none;
                    margin: 0 $column-gutter-lg/2;
                    &:hover > a {
                        color: $orange;
                    }

                    &:last-child {
                        border: none;
                    }

                    a {
                        border-bottom: unset;
                        color: black;

                        &:hover {
                            @include orange-type;
                        }
                    }

                    li {
                        a {

                            padding: 0;
                        }
                    }

                    &.hasChildren > a {
                        button {
                            display: none;
                        }
                    }

                    h2 {
                        display: block;
                    }

                    > section {
                        @include fontMedium;
                        padding: 0 $column-gutter-lg/2;
                        background-color: white;
                        box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.4);
                        color: black;
                        min-width: 15em;
                        max-width: $max_width*0.375;
                        z-index: 1;
                        position: absolute;
                        right: -$column-gutter-lg/2;

                        display: block;
                        visibility: hidden;
                        opacity: 0;
                        transition-property: opacity, visibility;
                        transition-duration: .5s, 0s;
                        transition-delay: 0.1s, 0.75s;

                        &:before {
                            top: -0.25em;
                            right: $column-gutter-lg*1.5;
                            content: '';
                            position: absolute;
                            width: 0;
                            height: 0;
                            border: 0.25em solid;
                            border-color: white;
                            transform: rotate(135deg);
                            box-shadow: -3px 3px 2px 0 rgba(0, 0, 0, 0.1);
                        }

                        > ul {
                            @include fontMedium;
                            margin: $column-gutter-lg/2 0;
                            li {
                                margin: 0;
                            }
                        }

                        h2 {
                            @include fontSmall;
                            margin: 0;
                            padding: $column-gutter-lg/2 0;
                            line-height: 2;
                            font-weight: normal;
                            border-bottom: 1px solid #D8D8D8;
                        }

                        a {
                            @include fontMedium;
                            line-height: #{$rhythm-unit}em;
                            margin: #{1 - ($rhythm-unit/2)}em;
                            @include arrow-link;
                            font-weight: bold;
                            color: black;
                            display: block;
                        }
                    }

                    &:hover {
                        > section {
                            visibility: visible;
                            opacity: 1;
                            transition-delay: 0.1s, 0.1s;
                            z-index: 99999;
                        }
                    }
                }
            }
        }

        .contactDetails {
            display: none;
        }

        &:global(.with-bg) {
            background-color: transparent;
            color: white;
            border-bottom: none;

            > header {
                a {
                    background-image: url("/images/headforwards.white.png");
                }
            }

            > section {

                > ul > li {
                    > a {
                        color: white;
                    }

                    &:hover > a {
                        color: $orange;
                    }
                }
            }

        }
    }
}
