@import "../../page-components/page-component";

.contactStyles {
    @include component-gutter;
    display: flex;

    .flexSection {
        &:nth-child(1) {

        }

        &:nth-child(2) {
            flex: 1;
        }
    }

    .mapStyles {
        margin-left: 0;
        margin-right: 0;
    }
}

form {
    button {
        background-color: #FFB800;

        &:after {
            display: inline-block;

            content: url(http://localhost:8000/images/hf-arrow.white.svg);
            width: 1em;
            margin-left: 1em;
            vertical-align: sub;
        }
    }
}