@import "../../../scss/mixins/typography";

.field {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @include fontMedium;
    line-height: 2;

    &.checkbox {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;

        input {
            flex-shrink: 1;
            margin-right: $column-gutter/2;
        }

        .error {
            width: 100%;
        }
    }
}

.error {
    @include fontMedium;
    margin-bottom: 0;
    color: red;
}
