@import "../../scss/variables";
@mixin component-gutter($fullWidth:false) {
    margin: 0 0 $gutter-medium;
    @if $fullWidth {
        margin: 0 -#{$page-gutter-sm} $gutter-medium;
    }
    @media (min-width: $screen-md) {
        margin: 0 0 $gutter-large;
    }
}

@mixin component-columns-gutter {

    @include component-gutter;

    > * {
        margin-bottom: $gutter-small;
    }

    @media (min-width: $screen-md) {
        margin: #{-$column-gutter/2} #{-$column-gutter/2} #{$gutter-large - $column-gutter/2};
        > * {
            margin: $column-gutter/2;
        }
    }
}

@mixin arrow-link {
    &:after {
        display: inline-block;
        content: url('/images/hf-arrow.orange.svg');
        width: 0.8em;
        margin-left: 1em;
        vertical-align: middle;
    }
}

