@mixin component-gutter {
    margin: 0 $gutter-medium $gutter-large;
}

@mixin arrow-link {
    &:after {
        display: inline-block;
        content: url('/images/hf-arrow.orange.svg');
        height: 100%;
        width: 1em;
        margin-left: 1em;
        vertical-align: middle;
    }
}
