@import "../../scss/variables";
@mixin component-gutter($fullWidth:false) {

        margin: 0 0 $component-gutter-sm;
        @media (min-width: $screen-md) {
            margin: 0 0 $component-gutter-md;
        }
        @media (min-width: $screen-lg) {
            margin: 0 0 $component-gutter-lg;
        }
}

@mixin component-columns-gutter {

    @include component-gutter;

    margin: -#{$column-gutter-sm/2} -#{$column-gutter-sm/2} #{$component-gutter-sm - $column-gutter-sm/2};
    > * {
        margin: $column-gutter-sm/2;
    }
    @media (min-width: $screen-md) {
        margin: #{-$column-gutter-md/2} #{-$column-gutter-md/2} #{$component-gutter-md - $column-gutter-md/2};
        > * {
            margin: $column-gutter-md/2;
        }
    }

    @media (min-width: $screen-lg) {
        margin: #{-$column-gutter-lg/2} #{-$column-gutter-lg/2} #{$component-gutter-lg - $column-gutter-lg/2};
        > * {
            margin: $column-gutter-lg/2;
        }
    }


}

@mixin arrow-link {
    &:after {
        display: inline-block;
        content: url('/images/hf-arrow.orange.svg');
        height: 0.8em;
        width: 0.8em;
        margin-left: 1em;
    }
}

@mixin button-link {
    @include arrow-link;
    background-color: $orange;
    color: white;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &:after {
        content: url('/images/hf-arrow.white.svg');
    }
}

