@import "../../scss/variables";
@mixin component-gutter($fullWidth:false) {

        margin: 0 0 $component-gutter-sm;
        @media (min-width: $screen-md) {
            margin: 0 0 $component-gutter-md;
        }
        @media (min-width: $screen-lg) {
            margin: 0 0 $component-gutter-lg;
        }
}

@mixin component-columns-gutter {

    @include component-gutter;

    margin: -#{$column-gutter-sm/2} -#{$column-gutter-sm/2} #{$component-gutter-sm - $column-gutter-sm/2};
    > * {
        margin: $column-gutter-sm/2;
    }
    @media (min-width: $screen-md) {
        margin: #{-$column-gutter-md/2} #{-$column-gutter-md/2} #{$component-gutter-md - $column-gutter-md/2};
        > * {
            margin: $column-gutter-md/2;
        }
    }

    @media (min-width: $screen-lg) {
        margin: #{-$column-gutter-lg/2} #{-$column-gutter-lg/2} #{$component-gutter-lg - $column-gutter-lg/2};
        > * {
            margin: $column-gutter-lg/2;
        }
    }


}

@mixin arrow-link {
    &:after {
        display: inline;
        content: '\00a0\00a0\00a0\00a0';
        background: url('/images/hf-arrow.orange.svg') no-repeat center right;
        background-size: 60%;
    }
}

@mixin button-link {
    @include arrow-link;
    cursor: pointer;
    line-height: 1;
    background-color: $orange;
    color: white;
    border: none;
    padding: 0.5em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    transition: background-color $transitionTime ease;

    fill: white;

    &:after {
        background-image: url('/images/hf-arrow.white.svg');
    }
    &:hover {
        background-color: $blue-background;
    }
}

