@import "../../../scss/variables";
@import "../../../scss/mixins/mixins";
@import "../../../scss/mixins/typography";
@import '../../page-components/page-component';
@import "./sticky-nav";

.header {
    @include fontMedium;
    position: relative;
    display: flex;
    flex-direction: column;

    @include sticky-nav;

    .image {
        order: 1;
        padding: 0;
        margin-bottom: 0;
        height: 100vw;
        > div {
            display: none;
        }
        @media (min-width: $screen-md) {
            height: unset;
            > div {
                display: block;
            }
        }
    }
    > section {
        order: 2;

        display: flex;
        flex-direction: column;


        h1 {
            @include headingFontXLarge;
            @include orange-type;
            @media(min-width: $screen-lg) {
                width: $singleColumnMaxWidth;
            }
        }
        p {
            @include fontLarge;
            color: black;
            font-weight: bold;
            @media(min-width: $screen-lg) {
                width: $singleColumnMaxWidth;
            }
        }
        :last-child {
            margin-bottom: 0;
        }

        padding-bottom: $component-gutter-sm;
        margin: $component-gutter-sm auto;
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            height: 2px;
            background: $grey-8;
            width: calc(100% - #{2*$column-gutter-sm});
            @media(min-width: $screen-md) {
                width: calc(100% - #{2*$column-gutter-md});
            }
            @media(min-width: $screen-lg) {
                width: calc(100% - #{2*$column-gutter-lg});
            }
        }
        @media (min-width: $screen-md) {
            margin: $component-gutter-md auto;
            padding-bottom: 0;

            h1 {
                @include headingFontXLarge;
            }
            h1, p {
                max-width: $singleColumnMaxWidth;
            }
        }
        @media (min-width: $screen-lg) {
            margin: $component-gutter-lg auto;
        }

        position: relative;
    }

    @media(min-width: $screen-md) {

        margin-bottom: $component-gutter-md;

        .image {
            margin: 0;
        }

        > section {
            margin-bottom: 0;
            padding-bottom: $component-gutter-md/2;

            &.hasSubTitle {
                h1, p {
                    @include headingFontLarge;
                    margin-bottom: 0;
                    line-height: $mod_1;
                }
            }
        }

        &.hasBackground {

            position: relative;
            min-height: 62.5vh;
            &.isHomePage {
                min-height: 100vh;
            }
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: linear-gradient(rgba(black, 0.45), transparent 175px, transparent calc(100% - 400px), rgba(black, 0.45));

            > section {

                margin-bottom: $component-gutter-md;
                padding-bottom: 0;

                h1 {
                    color: white;
                    margin-bottom: 0;
                }
                p {
                    @include fontLarge;
                    @include orange-type;
                }

                &:after {
                    display: none;
                }

                &.hasSubTitle {
                    p {
                        order: 1;
                    }

                    h1 {
                        order: 2;
                    }
                }
            }
        }

        .image {
            max-width: unset;
            z-index: -1;
            position: absolute !important;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.95;
        }
    }

    @media(min-width: $screen-lg) {

        margin-bottom: $component-gutter-lg;

        &.hasBackground {

            > section {

                margin-bottom: $component-gutter-lg;
            }

        }
    }

    @media(min-width: $screen-xl) {

        &.hasBackground {
            min-height: 65vh;
            > section {
                min-height: 20vw;
                justify-content: flex-end;
            }
        }
    }
}
