@import "../../../scss/variables";
@import "../../../scss/mixins/mixins";
@import "../../../scss/mixins/typography";
@import '../../page-components/page-component';

.header {

    display: flex;
    flex-direction: column;

    .image {
        order: 1;
        padding: 0;
        margin-bottom: $gutter-large;
    }
    > section {
        order: 2;
        margin: $gutter-large auto;

        display: flex;
        flex-direction: column;

        h1 {
            @include orange-type;
            @include headingFontXXXLarge;
            @media(min-width: $screen-lg) {
                width: $singleColumnMaxWidth;
            }
        }
        p {
            color: black;
            @include headingFontXLarge;
            font-weight: bold;
            @media(min-width: $screen-lg) {
                width: $singleColumnMaxWidth;
            }
        }

        > :last-child {
            padding-bottom: 0.5em;
            margin-bottom: 0;
            @media(min-width: $screen-lg) {
                border-bottom: none;
                padding-bottom: 0;
            }
        }

        position: relative;
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            width: calc(100% - #{2*$page-gutter-sm});
            height: 1px;
            background: $grey-6;
            @media(min-width: $screen-md) {
                width: calc(100% - #{2*$page-gutter-md});
            }
            @media(min-width: $screen-lg) {
                width: calc(100% - #{2*$page-gutter-lg});
            }
            @media(min-width: $screen-xl) {
                width: calc(100% - #{2*$page-gutter-xl});
            }
            @media(min-width: $screen-xxl) {
                width: calc(100% - #{2*$page-gutter-xxl});
            }
            @media(min-width: $screen-xxxl) {
                width: calc(100% - #{2*$page-gutter-xxxl});
            }
        }
    }

    &.hasBackground {
        > section {
            margin-top: 0;
            margin-bottom: 0;
            &:after {
                display: none;
            }
        }
    }

    @media(min-width: $screen-lg) {

        .image {
            margin: 0;
        }

        > section {
            margin: 0 auto $gutter-large;
            padding-top: $gutter-large;
            padding-bottom: $gutter-large;

            &.hasSubTitle {
                h1, p {
                    @include headingFontXLarge;
                    margin-bottom: 0;
                    line-height: $mod_2;
                }
            }
        }

        &.hasBackground {

            position: relative;
            min-height: 62.5vh;
            &.isHomePage {
                min-height: 100vh;
            }
            margin-bottom: $gutter-large;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: linear-gradient(rgba(black, 0.45), transparent 175px, transparent calc(100% - 400px), rgba(black, 0.45));

            > section {

                h1 {
                    color: white;
                    @include headingFontXXXLarge;
                    margin-bottom: 0;
                }
                p {
                    @include orange-type;
                    @include headingFontLarge;
                }

                &.hasSubTitle {
                    p {
                        order: 1;
                    }

                    h1 {
                        order: 2;
                    }
                }
            }
        }

        .image {
            max-width: unset;
            z-index: -1;
            position: absolute !important;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.95;
        }
    }
}
