@import "../../../scss/variables";
@import "../../../scss/mixins/mixins";
@import "../../../scss/mixins/typography";
@import '../../page-components/page-component';

.header {

    display: flex;
    flex-direction: column;

    .image {
        order: 1;
        margin-bottom: $gutter-large;
    }
    > section {
        order: 2;
        margin: $gutter-large auto;

        display: flex;
        flex-direction: column;

        h1 {
            @include orange-type;
            @include headingFontXXXLarge;
            width: 62.5%;
        }
        h2 {
            color: black;
            @include headingFontMedium;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    .hasSubTitle {
        h1, h2 {
            font-size: 52px;
        }

    }

    &.hasBackground {
        > section {
            margin-top: 0;
        }
    }



    @media(min-width: $screen-lg) {

        .image {
            margin: 0;
        }

        > section {
            margin: 0 auto $gutter-large;
        }

        &.hasBackground {

            position: relative;
            height: 100vh;
            margin-bottom: $gutter-large;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            > section {

                //max-width: 67.5%;
                //margin: 0 2*$gutter-large $gutter-large;

                h1 {
                    color: white;
                    @include headingFontXXXLarge;
                }
                h2 {
                    @include orange-type;
                    @include headingFontMedium;
                }

                &.hasSubTitle {
                    h2 {
                        order: 1;
                    }

                    h1 {
                        order: 2;
                    }
                }
            }
        }

        .image {
            max-width: unset;
            z-index: -1;
            position: absolute !important;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.95;
        }
    }
}
