@import "../../../scss/variables";

.isScrollingUp,
.isScrollingDown {
  > nav:not(:global(.menu-open)) {
    background-color: white;
    left: 0;
    position: fixed;
    right: 0;
    transition: transform $transitionTime ease;
    z-index: 100;
  }
}

.isScrollingUp nav:not(:global(.menu-open)) {
  transform: translateY(calc(4em - 3px));
}

.isScrollingDown nav:not(:global(.menu-open)) {
  transform: translateY(calc(-100% - 8em));
}

@media (min-width: $screen-md) {
  .isScrollingUp,
  &.isScrollingDown {
    > nav:not(:global(.menu-open)) {
      top: -4.5em;

      &:global(.menu-open) {
        top: -4.5em;
      }

      &:after {
        opacity: unset;
        transform: translateY(50%);
      }
    }
  }

  .isScrollingUp nav:not(:global(.menu-open)) {
    transform: translateY(4.5em);
  }

  .isScrollingDown nav:not(:global(.menu-open)) {
    transform: translateY(calc(-100% - 9em));
  }
}

@media (min-width: $screen-lg) {
  .isScrollingUp,
  .isScrollingDown {
    > nav:not(:global(.menu-open)) {
      background: rgba(white, 0.975);
      top: calc(-5em - 2px);

      &:after {
        left: 0;
        margin: 0;
        right: 0;
        width: 100vw;
      }

      &:global(.menu-open) {
        top: calc(-5em - 2px);
      }

      > header > a {
        background-image: url(/images/headforwards.black.png);
      }

      > section > ul > li > a {
        color: black;
      }
    }
  }

  .isScrollingUp nav:not(:global(.menu-open)) {
    transform: translateY(5em);
  }

  .isScrollingDown nav:not(:global(.menu-open)) {
    transform: translateY(calc(-100% - 10em));
  }
}
