@import "../../../../scss/variables";
@import "../../../../scss/mixins/mixins";
@import "../../../../scss/mixins/typography";
@import '../../page-component';
@import '../columns';

.articleColumns {

    > h1 {
        @include headingFontLarge;
        @media(min-width: $screen-lg) {
            @include headingFontXLarge;

        }
    }

    > section {
        @include columns-component;

        @media(min-width: $screen-lg) {
            align-items: stretch;
        }

        .article {

            display: flex;
            flex-direction: column;
            @include fontMedium;
            @media(min-width: $screen-lg) {
                @include fontLarge;

            }

            .image {
                order: 1;
                margin: 0 -#{$gutter-small};
                @include fontMedium;

                @media(min-width: $screen-md) {
                    margin: 0 -#{$gutter-medium};
                    @include fontLarge;
                }
            }

            > h1 {
                order: 2;
                @include headingFontMedium;
                @media(min-width: $screen-lg) {
                    @include headingFontLarge;

                }
            }

            > section {
                order: 3;
                flex-grow: 1;

                > :last-child {
                    margin-bottom: 0;
                }
            }

            > a {
                order: 4;
                @include arrow-link;
                font-weight: normal;
                display: block;
                margin-top: $gutter-small;
                @media(min-width: $screen-lg) {
                    margin-top: $gutter-medium;
                }
            }

            > :last-child {
                margin-bottom: 0;
            }
        }

        @media(min-width: $screen-md) {

            &.isThreeColumns {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                margin: #{-$column-gutter/2} #{-$column-gutter/2} #{$gutter-large - $column-gutter/2};
                > * {
                    margin: $column-gutter/2;
                }
                .article {
                    width: calc((100% / 2) - #{$gutter-medium});

                    > h1 {
                        @include headingFontMedium;
                    }

                    > section {
                        @include fontMedium;
                    }

                    .image {
                        margin: 0;
                        @include fontSmall;
                    }
                }
            }
        }

        @media(min-width: $screen-lg) {

            .article {
                width: calc((100%/2) - #{$gutter-medium});

                .image {
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            &.isThreeColumns .article {
                width: calc((100%/3) - #{$gutter-medium});
            }
        }
    }
}
