@import "variables";

@mixin flexRow($direction: row, $wrap: wrap, $justify-content: space-between) {
    display: flex;
    flex-direction: $direction;
    margin-bottom: $margin-bottom;
    flex-wrap: $wrap;
    justify-content: $justify-content;
}