$orange: #FFB800;
$paragraph_grey: #4A4A4A;
$header_black: #1D1F32;
$blue-background: #141122;

$margin-bottom: 1.5rem;

// Breakpoints

$screen-md: 620px;
$screen-lg: 1024px;
$screen-xl: 1200px;
$screen-xxl: 1440px;

$min_width: 320px;
$max_width: 1440px;
$min_font: 16px;
$max_font: 20px;

$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop
