@import "../styles/variables";
@import "../styles/mixins";

.navBackground {
    background-size: cover;
    margin-bottom: 50px;

    @include flexRow(column, nowrap, normal);


    > div {
        height: 100%;

        @include flexRow(column, nowrap, flex-end);

        h1 {
            color: white;
            margin: 0;

            &.smallTitle {
                font-size: 90px;
            }

            &.largeTitle {
                font-size: 110px;
            }
        }

        .subTitle {
            font-size: 35px;
            color: $orange;
        }
    }
}


@media(min-width: $screen-md) {
    .navBackground {
        height: 100vh;

        > div {
            padding: 0 0 100px 100px;

        }
    }
}