@import '../../scss/variables';
@import '../../scss/mixins';

.navbar {
    padding: 1rem;
    background-color: white;

    :global(.flexRow) {
        @include flexRow;
        margin-bottom: 0 !important;
        align-items: center;

        :global(.logo) {
            background-image: url("/img/headforwards-full-logo-black.png");
            background-size: contain;
            flex: 1;
            background-repeat: no-repeat;
            background-position: 0 center;
            height: 65px;

        }
    }

    :global(.main-nav) {
        list-style-type: none;
        display: none;

        :global(.main-list-item) {
            padding: 9px 0;
            border-top: 1px solid #383F51;

            ul {
                display: none;
            }

            :global(.nav-links) {
                text-decoration: none;
                color: white;
                font-size: 1.5rem;
            }
        }
    }

    :global(.socials-section) {
        display: none;
    }

    &:global(.is-active) {
        background-color: $blue-background;

        :global(.flexRow) {
            :global(.logo) {
                background-image: url("/img/headforwards-full-logo-white.png");
            }
        }

        :global(.main-nav),
        :global(.socials-section) {
            display: block;
        }
    }

}


//@media screen and (min-width: $screen-md) {
//    .navbar {
//
//            :global(.main-nav) {
//                @include flexRow;
//
//                :global(.main-list-item) {
//                    border-top: none;
//
//                    ul {
//                        display: block;
//                    }
//
//                }
//
//                > :global(.main-list-item) {
//                    border-top: none;
//
//                    > a {
//                        border-bottom: 1px solid #383F51;
//
//                        + ul {
//                            a {
//                                color: #8D9FAE;
//                            }
//                        }
//                    }
//                }
//            }
//
//    }
//}


@media screen and (min-width: $screen-lg) {


    .navbar {

        @include flexRow;
        align-items: center;
        padding: 45px 0;
        border-bottom: 1px solid #D8D8D8;

        :global(.flexRow) {
            flex-grow: 1;
        }

        &:global(.with-bg) {
            background-color: transparent;
            color: white;
            border-bottom: none;

            :global(.flexRow) {
                :global(.logo) {
                    background-image: url("/img/headforwards-full-logo-white.png");

                }
            }

            :global(.main-nav) {
                > :global(.main-list-item) {
                    > :global(.nav-links) {
                        color: white;

                        &:hover {
                            color: $orange;
                        }
                    }
                }
            }

        }

        :global(.main-nav) {
            display: flex;
            margin-right: 30px;
            flex-direction: row;
            justify-content: flex-end;

            :global(.main-list-item) {
                display: block;
                position: relative;
                border-top: none;

                &:nth-last-of-type(1) {
                    border-bottom: none;
                }


                :global(.nav-links) {
                    color: black;
                    margin-left: 40px;
                }

                > ul {
                    padding: 20px;
                    background-color: white;
                    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.5);

                    > li {
                        display: block;
                        position: relative;
                        padding-bottom: 1rem;
                    }
                }


                &:hover {
                    > ul {
                        white-space: nowrap;
                        display: block;
                        position: absolute;

                        a {
                            margin: 0;
                        }

                        > li {
                            > ul {
                                left: 100%;
                                top: 10px;
                            }
                        }


                    }


                }
            }
        }
    }
}
