$orange: #FFB800;
$paragraph_grey: #4A4A4A;
$header_black: #1D1F32;
$blue-background: #1c1e32;

$h1-large-font-size: 45px;
$h1-small-font-size: 25px;

$h2-small-font-size: 20px;

$p-large-font-size: 22px;
$p-small-font-size: 15px;

$anchor-tag-font-size-small: 18px;

$header-margin-bottom: 0.9375rem;

// Breakpoints

$screen-md: 620px;
$screen-lg: 1024px;
$screen-xl: 1200px;
$screen-xxl: 1440px;
