@mixin component-gutter {
    margin: 0 $gutter-medium $gutter-large;
}

@mixin arrow-link {
    &:after {
        display: inline-block;
        vertical-align: text-top;
        content: url('/img/hf-arrow.orange.svg');
        height: 1em;
        width: 1em;
        margin-left: 1em;
    }
}
