@import '~normalize.css';
@import "styles/variables";
@import "navbar/navbar-component.module";

* {
    font-family: "FS Albert", Arial, sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto !important;

    a {
        color: $orange;
        text-decoration: none;
        font-weight: bold;
    }

    ul {
        list-style: none;
        padding-left: 0;
        justify-content: center;

    }
}

@media(min-width: $screen-md) {
    body {
        h1 {
            color: $header_black;
            margin-bottom: $margin-bottom;
        }

        p {
            color: $paragraph_grey;
            line-height: 30px;
        }
    }
}

html {
    @include fluid-type($min_width, $max_width, $min_font, $max_font);

    h1 {
        font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem;
        @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
    }
    h2 {
        font-size: $mod_1*$mod_1*$mod_1 *1rem;
        @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
    }
    h3 {
        font-size: $mod_1*$mod_1 *1rem;
        @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
    }
}


