@import '~normalize.css';
@import "styles/variables";
@import "navbar/navbar-component.module";

* {
    font-family: "FS Albert", Arial, sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto !important;

    a {
        color: $orange;
        text-decoration: none;
        font-weight: bold;
    }

    ul {
        list-style: none;
        padding-left: 0;
        justify-content: center;

    }
}

@media(min-width: $screen-md) {
    body {
        h1 {
            color: $header_black;
            margin-bottom: $margin-bottom;
        }

        p {
            color: $paragraph_grey;
            line-height: 30px;
        }
    }
}

html {
    @include fontMedium;

    h1 {
        @include headingFontLarge;
    }

    h2 {
        @include headingFontMedium;
    }
    h3 {
        @include headingFontSmall;
    }
}


