.image {
    margin-bottom: $gutter-small;
}

@media (min-width: $screen-lg) {

    .image, .copy {
        width: 50%;
    }

    .image {
        order: 1;
        margin-bottom: 0;
    }
    .copy {
        order: 2;
    }

    &.isRightImage {
        .copy {
            order: 1;
        }
        .image {
            order: 2;
        }
    }

}