//@font-face {
//    font-family: 'FS Albert';
//    font-style: normal;
//    font-weight: 900;
//    font-display: swap;
//    src:
//    url('/fonts/FSAlbert/ExtraBold.woff2') format('woff2'),
//    url('/fonts/FSAlbert/ExtraBold.woff') format('woff');
//}

@font-face {
    font-family: 'FS Albert';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
    url('/fonts/FSAlbert/Bold.woff2') format('woff2'),
    url('/fonts/FSAlbert/Bold.woff') format('woff');
}
//@font-face {
//    font-family: 'FS Albert';
//    font-style: italic;
//    font-weight: 700;
//    font-display: swap;
//    src:
//    url('/fonts/FSAlbert/BoldItalic.woff2') format('woff2'),
//    url('/fonts/FSAlbert/BoldItalic.woff') format('woff');
//}

@font-face {
    font-family: 'FS Albert';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
    url('/fonts/FSAlbert/Regular.woff2') format('woff2'),
    url('/fonts/FSAlbert/Regular.woff') format('woff');
}
@font-face {
    font-family: 'FS Albert';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src:
    url('/fonts/FSAlbert/Italic.woff2') format('woff2'),
    url('/fonts/FSAlbert/Italic.woff') format('woff');
}

//@font-face {
//    font-family: 'FS Albert';
//    font-style: normal;
//    font-weight: 100;
//    font-display: swap;
//    src:
//    url('/fonts/FSAlbert/Light.woff2') format('woff2'),
//    url('/fonts/FSAlbert/Light.woff') format('woff');
//}
//@font-face {
//    font-family: 'FS Albert';
//    font-style: italic;
//    font-weight: 100;
//    font-display: swap;
//    src:
//    url('/fonts/FSAlbert/LightItalic.woff2') format('woff2'),
//    url('/fonts/FSAlbert/LightItalic.woff') format('woff');
//}
