@import "../styles/variables";
@import "../styles/mixins";

/* Footer social */
.ftSocial {

    ul {
        @include flexRow(row, nowrap, center);

        li {
            margin: 0.5rem;
            font-size: 3rem;

            a {
                text-decoration: none;
                color: #d7d7d6;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

/* Footer legal */
.ftLegal {
    padding: 0.9375rem 1.875rem;
    color: black;

    ul {
        @include flexRow(row, wrap, center);
        width: 100%;
        margin-top: 0;

        &:nth-child(1) {
            line-height: 2;

            li {
                &:nth-child(2) {
                    margin-left: 0;
                    margin-right: 0;
                    display: none;
                }
            }
        }

        &:nth-of-type(2) {
            li {

                &:nth-of-type(2),
                &:nth-of-type(3) {
                    a {
                        font-weight: lighter !important;
                    }
                }
            }
        }

        li {
            margin: 0.125rem 0.625rem;

            a {
                color: black;

            }
        }
    }
}

/* Footer mobbing */
.ftMobbing {

    @include flexRow(row, nowrap, normal);
    background-image: url('../../img/footer-bg.png');

    h1 {
        padding: 0 1rem;
        max-width: 950px;
        line-height: 1.5;
        color: white;
        margin: 2rem;
    }
}

@media(min-width: $screen-md) {

    .ftSocial {
        padding-top: 1.25rem;
    }

    .ftMobbing {
        h1 {
            margin: 4rem;
        }
    }

    .ftLegal {

        ul {

            &:nth-child(1) {
                li {
                    &:nth-child(2) {
                        margin-left: 0;
                        margin-right: 0;
                        display: list-item;
                        color: $orange;
                    }
                }
            }
        }
    }
}

@media(min-width: $screen-lg) {
    .ftMobbing {
        h1 {
        }
    }

}


