@import "../variables";

/* Footer social */
.ftSocial {

    ul {
        display: flex;

        li {
            margin: 0.5rem;
            font-size: 2.5rem;

            a {
                text-decoration: none;
                color: #d7d7d6;
                font-size: 40px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

/* Footer legal */
.ftLegal {
    padding: 0.9375rem 1.875rem;
    color: black;

    ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;

        &:nth-child(1) {
            line-height: 2;
            li {
                font-weight: bold;
                &:nth-child(2) {
                    margin-left: 0;
                    margin-right: 0;
                    display: none;
                }
            }
        }

        li {
            margin: 0.125rem 0.625rem;

            a {
                color: black;
            }
        }
    }
}

/* Footer mobbing */
.ftMobbing {
    display: flex;
    background-image: url('../../img/footer-bg.png');

    h1 {
        padding: 0 15px;
        max-width: 950px;
        line-height: 1.5;
        font-size: 22px;
        color: white;
        margin: 2rem;
    }

    a {
        font-size: inherit;
    }
}

@media(min-width: $screen-md) {

    .ftSocial {
        padding-top: 1.25rem;
    }

    .ftMobbing {
        h1 {
            margin: 4rem;
        }
    }
}

@media(min-width: $screen-lg) {
    .ftMobbing {
        h1 {
            font-size: $h1-large-font-size;
        }
    }

    .ftLegal {

        ul {

            &:nth-child(1) {
                li {
                    &:nth-child(2) {
                        margin-left: 0;
                        margin-right: 0;
                        display: list-item;
                        color: $orange;
                    }
                }
            }
        }
    }

}


