@import "../../page-components/columns/columns";
@import "../../page-components/forms/forms";

.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: -$column-gutter-sm/4;
    margin-bottom: $component-gutter-sm - $column-gutter-sm/4;
    @media (min-width: $screen-md) {
        margin: -$column-gutter-md/4;
        margin-bottom: $component-gutter-md - $column-gutter-md/4;
    }
    @media (min-width: $screen-lg) {
        margin: -$column-gutter-lg/4;
        margin-bottom: $component-gutter-lg - $column-gutter-lg/4;
    }
}
.allTags {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0;
    border: 1px solid $grey-6;
    margin: $column-gutter-sm/4;
    @media (min-width: $screen-md) {
        margin: $column-gutter-md/4;
    }
    @media (min-width: $screen-lg) {
        width: calc((100%/4) - #{$column-gutter-lg/2});
        margin: $column-gutter-lg/4;
    }

    .filter {
        @include button-link;
        @include fontSmall;
        line-height: 2;
        border: 1px solid $grey-6;
        margin: -1px;
        background-color: white;
        color: $paragraph_grey;
        &:after {
            content: '\00a0\00a0\00a0\00a0';
            background: url('/images/hf-arrow.orange.svg') no-repeat center right;
            transform: rotate(90deg);
        }
        &:hover {
            background-color: white;
        }
    }

    ul {
        position: absolute;
        background-color: white;
        top: 100%;
        left: -1px;
        width: calc(100% + 2px);
        border: 1px solid $grey-6;
        z-index: 100;
        display: none;
        padding: 0.5em;
        margin: 0;
    }
    &.showFilters ul {
        display: block;
    }

    input {
        @include checkbox;
    }
    input + label {
        @include fontSmallVr;
        & {
            margin-bottom: 0;
        }
    }

    .clearAll {
            button {
                @include fontSmallVr;
                @include button-link;
                & {
                    margin-bottom: 0;
                    margin-top: #{$rhythm-unit}em;
                }

                &:after {
                    display: none;
                }
            }
        }
    }

.selectedTags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-shrink: 1;
    margin: 0;
    margin-top: 0.5em;

    li {
        margin: $column-gutter-sm/4;
        @media (min-width: $screen-md) {
            margin: $column-gutter-md/4;
        }
        @media (min-width: $screen-lg) {
            margin: $column-gutter-lg/4;
        }
        label {
            @include fontSmall;
            line-height: 1;
            padding: 0.5em;
            background-color: $grey-10;
            transition: all $transitionTime ease;
            font-weight: 700;
            display: flex;
            flex-direction: row;
            align-items: center;
            &:after {
                @include fontMedium;
                content: '\00d7';
                margin-left: 0.5em;
            }
        }
    }
}

.jobsList {
    @include columns-component;
    @media (min-width: $screen-md) {
        align-items: stretch;
        justify-content: flex-start;
    }
    li {
        @media (min-width: $screen-md) {
            width: calc((100% / 2) - #{$column-gutter-md});
        }
        @media (min-width: $screen-lg) {
            width: calc((100% / 3) - #{$column-gutter-lg});
        }
        display: flex;
        flex-direction: column;
    }
}

.job {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    background: $jobs-grey;
    padding: $column-gutter-sm;
    @media (min-width: $screen-md) {
        padding: $column-gutter-md;

    }
    @media (min-width: $screen-lg) {
        padding: $column-gutter-lg;

    }

    transition: background-color 500ms ease;
    transition-delay: 100ms;

    @media (min-width: $screen-md) {

        &:before {
            padding-bottom: 62.5%; /* Minimum aspect ratio */
            content: '';
            float: left;
        }

        &:after {
            display: table;
            content: '';
            clear: both;
        }
    }

    section {
        flex-grow: 1;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        @include fontMediumVr;

        & {
            margin-bottom: 0;
        }

        h2 {
            margin-bottom: 0;
            transition: color 500ms ease;
            transition-delay: 100ms;
        }
        &, p, li, time {
            transition: color 500ms ease;
            transition-delay: 100ms;
        }

        p {
            margin-bottom: #{$rhythm-unit*2}em;
        };
    }
    button {
        @include fontMedium;
        flex-grow: 0;
        border: none;
        padding: 0;
        margin: auto 0 0;
        @media (min-width: $screen-md) {
            margin: auto 0 0;
        }
        background: unset;
        align-self: flex-start;
        line-height: $line-height;
        transition: color 500ms ease;
        transition-delay: 100ms;
        @include arrow-link;
        &:after {
            background-image: url('/images/hf-arrow.svg');
            transition: content 500ms ease;
            transition-delay: 100ms;
        }
    }
    &:hover {
        background: $blue-background;
        section {
            h2 {
                color: $orange;
            }
            &, p, li, time {
                color: white;
            }
        }
        button {
            color: white;
            &:after {
                background-image: url('/images/hf-arrow.orange.svg');
            }
        }
    }
}
