@import "../../page-components/columns/columns";
@import "../../page-components/forms/forms";

.filters {
    display:        flex;
    flex-direction: column;
    margin:         -$column-gutter-sm/4;
    margin-bottom:  $component-gutter-sm/2 - $column-gutter-sm/2;
    @media (min-width: $screen-md) {
        align-items:     flex-start;
        flex-direction:  row;
        justify-content: space-between;
        margin:          -$column-gutter-md/4;
        margin-bottom:   $component-gutter-md/2 - $column-gutter-md/2;
    }
    @media (min-width: $screen-lg) {
        margin:        -$column-gutter-lg/4;
        margin-bottom: $component-gutter-lg/2 - $column-gutter-lg/2;
    }
}

.allTags {
    border:         1px solid $grey-6;
    display:        flex;
    flex-direction: column;
    flex-shrink:    0;
    margin:         $column-gutter-sm/4;

    order:          1;
    position:       relative;
    width:          calc((100% / 1) - #{$column-gutter-sm/2});
    @media (min-width: $screen-md) {
        margin: $column-gutter-md/4;
        order:  2;
        width:  calc((100% / 2) - #{$column-gutter-md/2});
    }
    @media (min-width: $screen-lg) {
        margin: $column-gutter-lg/4;
        width:  calc((100% / 3) - #{$column-gutter-lg/2});
    }

    .filter {
        @include button-link;
        @include fontSmall;
        background-color: white;
        border:           1px solid $grey-6;
        color:            $paragraph_grey;
        line-height:      2;
        margin:           -1px;

        &:after {
            background: url("/images/hf-arrow.orange.svg") no-repeat center right;
            content:    "\00a0\00a0\00a0\00a0";
            transform:  rotate(90deg);
            transition: all $transitionTime/2 ease;
        }

        &:hover {
            background-color: white;
        }
    }

    &.showFilters .filter:after {
        transform: rotate(270deg);
    }

    section {
        background-color: white;
        border:           1px solid $grey-6;
        display:          none;
        left:             -1px;
        margin:           0;
        padding:          0.5em;
        position:         absolute;
        top:              100%;
        width:            calc(100% + 2px);
        z-index:          100;

        ul {
            column-gap: $component-gutter-sm;
            columns:    2;
            margin-top: 0;
        }
    }

    &.showFilters {
        section {
            display: block;
        }
    }

    input {
        @include checkbox;
    }

    input + label {
        @include fontSmallVr;
        &, p, li, time {
            margin-bottom: 0;
        }
    }

    button {
        @include fontSmallVr;
        @include button-link;
        &, p, li, time {
            margin-bottom: 0;
        }

        &:after {
            display: none;
        }
    }
}

.selectedTags {
    display:         flex;
    flex-direction:  row;
    flex-shrink:     1;
    flex-wrap:       wrap;
    justify-content: flex-start;
    margin:          $column-gutter-sm/4 0;
    order:           2;
    @media (min-width: $screen-md) {
        margin: $column-gutter-md/4 0;
        order:  1;
    }
    @media (min-width: $screen-lg) {
        margin: $column-gutter-lg/4 0;
    }

    li {
        margin: $column-gutter-sm/4;
        @media (min-width: $screen-md) {
            margin: $column-gutter-md/4;
        }
        @media (min-width: $screen-lg) {
            margin: $column-gutter-lg/4;
        }

        label {
            @include fontSmall;
            align-items:      center;
            background-color: $grey-10;
            display:          flex;
            flex-direction:   row;
            font-weight:      700;
            line-height:      1;
            padding:          0.5em;
            transition:       all $transitionTime ease;

            &:after {
                @include fontMedium;
                content:     "\00d7";
                margin-left: 0.5em;
            }
        }
    }
}

.jobsList {
    @include columns-component-tight;
    @media (min-width: $screen-md) {
        align-items:     stretch;
        justify-content: flex-start;
    }

    li {
        display:        flex;
        flex-direction: column;
        @media (min-width: $screen-md) {
            width: calc((100% / 2) - #{$column-gutter-md/2});
        }
        @media (min-width: $screen-lg) {
            width: calc((100% / 3) - #{$column-gutter-lg/2});
        }
    }
}

.job {
    background:       $jobs-grey;
    display:          flex;
    flex-direction:   row;
    flex-grow:        1;
    min-height:       10em;
    padding:          $column-gutter-sm;
    transition:       background-color 500ms ease;
    transition-delay: 100ms;

    @media (min-width: $screen-md) {
        padding: $column-gutter-md;

    }
    @media (min-width: $screen-lg) {
        padding: $column-gutter-lg;

    }

    @media (min-width: $screen-lg) {

        &:before {
            content:        "";
            float:          left;
            padding-bottom: 62.5%; /* Minimum aspect ratio */
        }

        &:after {
            clear:   both;
            content: "";
            display: table;
        }
    }

    section {
        display:        flex;
        flex-direction: column;
        flex-grow:      1;
        @include fontMediumVr;
        &, p, li, time {
            margin-bottom:  0;
        }

        h2 {
            margin-bottom:    0;
            transition:       color 500ms ease;
            transition-delay: 100ms;
        }

        &, p, li, time {
            transition:       color 500ms ease;
            transition-delay: 100ms;
        }

        p {
            margin-bottom: #{$rhythm-unit*2}em;
        }
    }

    button {
        @include fontMedium;
        align-self:       flex-start;
        background:       unset;
        border:           none;
        flex-grow:        0;
        line-height:      $line-height;
        margin:           auto 0 0;
        padding:          0;
        transition:       color 500ms ease;
        transition-delay: 100ms;
        @media (min-width: $screen-md) {
            margin: auto 0 0;
        }
        @include arrow-link;

        &:after {
            background-image: url("/images/hf-arrow.svg");
            transition:       background-image 500ms ease;
            transition-delay: 100ms;
        }
    }

    &:hover {
        background: $blue-background;

        section {
            h2 {
                color: $orange;
            }

            &, p, li, time {
                color: white;
            }
        }

        button {
            color: white;

            &:after {
                background-image: url("/images/hf-arrow.orange.svg");
            }
        }
    }
}

.footerText {
    margin-bottom: $component-gutter-sm;
    @media (min-width: $screen-md) {
        margin-bottom: $component-gutter-md;
    }
    @media (min-width: $screen-lg) {
        margin-bottom: $component-gutter-lg;
    }
}
