@import "../../page-components/columns/columns";

@mixin alphaBackgroundColor ($desired_colour, $desired_alpha, $background_colour: white) {
    $r3: red($desired_colour);
    $g3: green($desired_colour);
    $b3: blue($desired_colour);

    $r2: red($background_colour);
    $g2: green($background_colour);
    $b2: blue($background_colour);

    // r1 = (r3 - r2 + r2 * a1) / a1
    $r1: ( $r3 - $r2 + ($r2 * $desired_alpha) ) / $desired_alpha;
    $g1: ( $g3 - $g2 + ($g2 * $desired_alpha) ) / $desired_alpha;
    $b1: ( $b3 - $b2 + ($b2 * $desired_alpha) ) / $desired_alpha;

    background-color: rgba($r1*1.1, $g1*1.1, $b1*1.1, $desired_alpha);
}
.pages {
    @include columns-component;
    align-items: stretch;
    margin-top: 0;
    @media(min-width: $screen-md) {
        margin-top: 0;
        align-items: stretch;
    }
    justify-content: flex-start;

    > article {
        @include fontMedium;
        display: flex;
        flex-direction: column;
        width: 100%;
        @media(min-width: $screen-md) {
            width: calc(50% - #{$column-gutter});
        }
        margin-top: 0;
        margin-bottom: $gutter-medium;
        @media(min-width: $screen-md) {
            margin-bottom: $gutter-large;
        }
    }

    @media(min-width: $screen-md) {
        justify-content: flex-start;
        > article {
                width: calc(50% - #{$column-gutter});
        }
        margin-bottom: 0;
    }

    .page > a {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        h2 {
            @include arrow-link;
            flex-grow: 1;
        }

        > section {
            position: relative;
        }
    }

    .placeholder {
        opacity: 0.3;
    }

    .logo {
        width: 5rem;
        height: 5rem;
        margin-bottom: auto;
    }

    .introduction {

        display: flex;
        flex-direction: column;
        overflow: hidden;

        > :last-child  {
            margin-bottom: 0;
        }

        opacity: 0;
        &:hover {
            opacity: 1;
            transition-delay: 0s;
        }
        transition: opacity ease 0.5s;
        transition-delay: 0.5s;

        &, p, time {
            color: white;
            @include headingFontMedium;
            line-height: $mod_1;
        }
        margin-bottom: 0;

        position: absolute;
        left: -$column-gutter/2;
        width: calc(100% - #{$column-gutter/2});
        bottom: -$gutter-small;
        height: calc(100% - #{$column-gutter/2});


        background-color: rgba(orange, 0.5);
        border: 1px rgba($orange, 0.1) solid;
        border-left: $column-gutter/2 $orange solid;
        border-bottom: $column-gutter/2 $orange solid;

        padding: $column-gutter $column-gutter $column-gutter/2 $column-gutter/2;
        @media(min-width: $screen-md) {
            margin-bottom: 0;
        }
    }
}
