@import "../../page-components/columns/columns";
.pages {
    @include columns-component;
    justify-content: flex-start;

    > a {
        width: 100%;
        @media(min-width: $screen-lg) {
            width: calc(50% - #{$column-gutter});
        }
        margin-top: 0;
        margin-bottom: $gutter-medium;
        @media(min-width: $screen-lg) {
            margin-bottom: $gutter-large;
        }
    }

    @media(min-width: $screen-lg) {
        justify-content: flex-start;
        > a {
                width: calc(50% - #{$column-gutter});
        }
        margin-bottom: 0;
    }

    .page {
        display: flex;
        flex-direction: column;

        h1 {
            @include arrow-link;
        }
    }
}
