@import "../../../../scss/variables";
@import "../../../../scss/mixins";
@import '../../page-component';
@import '../columns';

.twoColumnsImageText {

    @include component-gutter;
    @include columns-component;


    .copy {
        @include copy;
    }

    @media (min-width: $screen-lg) {

        .copy {
            order: 2;
            padding: 0 $gutter-medium;
            margin-right: -$gutter-medium;
        }

        &.isRightImage {
            .copy {
                order: 1;
                margin-left: -$gutter-medium;
                margin-right: 0;
            }
            .postit {
                order: 2;
            }
        }

    }
}
