.imgRow {
    h1 {
        font-size: 2rem;
    }

    img {
        width: 100%;
    }
}

.flexRow {
    display: flex;

    h1 {
        padding: 0;
        font-size: 2rem;
    }

    img {
        width: 100%;
    }

    .twoCol {
        flex-basis: 50%;
    }

    .threeCol {
        flex-basis: 33%;
    }
}