@import "../styles/variables";
@import "../styles/mixins";

.articleRow {

    h1, p, a {
        padding: 0 1rem;
    }
    img {
        width: 100%;
    }

    .twoCol,
    .threeCol {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
}

@media(min-width: $screen-md) {
    .flexRow {
        @include flexRow;

        .twoCol {
            flex-basis: 49%;
        }

        .threeCol {
            flex-basis: 32%;
        }

        h1 {
            //font-size: 2rem;
        }

        h1, p, a {
            padding: 0;
        }

    }

}