@import "../../../scss/mixins/typography";
@import "../../../scss/mixins/column-list";
@import "../../page-components/columns/columns";

.jobDetails {
    @include fontMediumVr;
    @media (min-width: $screen-md) {
        column-count: 2;
        column-gap: $column-gutter-md*2;
    }
    @media (min-width: $screen-lg) {
        column-gap: $column-gutter-lg*2;
    }

    ul {
        @include columnsList;
    }

    strong em {
        font-style: normal;
        border-bottom: 2px solid $orange;
    }
}

.dataTable {
    @include component-gutter;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media(min-width: $screen-lg) {
        width: 37.5%;
    }
    dt {
        font-weight: bold;
        width: 37.5%;
        margin: 0;
        padding: 0;
        text-align: right;
    }
    dd {
        width: 62.5%;
        margin: 0;
        padding-left: 0.5em;
    }
}

.apply {
    @include fontMedium;
    @include button-link;
    margin-bottom: $component-gutter-sm;

    display: inline-block;
    @media (min-width: $screen-md) {
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: $component-gutter-sm;
    }
    @media (min-width: $screen-lg) {
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: $component-gutter-lg;
    }
}
