@import "../../../scss/mixins/typography";
@import "../../page-components/columns/columns";

.jobDetails {
    @include fontMediumVr;
    column-count: 2;
    column-gap: $gutter-large;

    ul {
        margin: 0 0 #{$rhythm-unit}em;
        list-style-type: "\2013\2002";
        list-style-position: outside;
        li {
            margin: 0;
            margin-left: 1em;
        }
    }
}

.dataTable {
    @include component-gutter;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media(min-width: $screen-lg) {
        width: 37.5%;
    }
    dt {
        font-weight: bold;
        width: 37.5%;
        margin: 0;
        padding: 0;
        text-align: right;
    }
    dd {
        width: 62.5%;
        margin: 0;
        padding-left: $gutter-small;
    }
}
