@import "../../../scss/mixins/typography";
@import "../../../scss/mixins/column-list";
@import "../../page-components/columns/columns";

.jobDetails {
    @include fontMediumVr;
    @media (min-width: $screen-md) {
        column-count: 2;
        column-gap: $gutter-large;
    }

    ul {
        @include columnsList;
    }
}

.dataTable {
    @include component-gutter;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media(min-width: $screen-lg) {
        width: 37.5%;
    }
    dt {
        font-weight: bold;
        width: 37.5%;
        margin: 0;
        padding: 0;
        text-align: right;
    }
    dd {
        width: 62.5%;
        margin: 0;
        padding-left: $gutter-small;
    }
}
