@import '../../../../scss/variables';

$line-thickness: 3px;

.hamburger {
    background-color: transparent;
    padding: 0 $column-gutter-sm/2;
    @media (min-width: $screen-md) {
        padding: 0 $column-gutter-md/2;
    }
    display: flex;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: $orange;
    text-transform: none;
    border: 0;
    margin: 0;
    overflow: visible;

    &:focus {
        outline: none;
    }

    &:global(.is-active) {

        .hamburgerInner {
            background-color: $orange;

            &::before {
                background-color: $orange;
            }

            &::after {
                background-color: $orange;
            }
        }
    }

    .hamburgerBox {
        width: 1.5em;
        height: 1.5em;
        display: inline-block;
        position: relative;
    }
}

@media screen and (min-width: $screen-lg) {

    .hamburger {
        display: none;
    }
}

.hamburgerInner {
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: $line-thickness;
    background-color: $orange;
    border-radius: $line-thickness;
    position: absolute;

    &::before {
        width: 100%;
        height: $line-thickness;
        background-color: $orange;
        border-radius: $line-thickness;
        position: absolute;
        transition-property: transform;
        transition-duration: 150ms;
        transition-timing-function: ease;
        content: "";
        display: block;
        top: -0.5em;
    }

    &::after {
        width: 100%;
        height: $line-thickness;
        background-color: $orange;
        border-radius: $line-thickness;
        position: absolute;
        transition-property: transform;
        transition-duration: 150ms;
        transition-timing-function: ease;
        content: "";
        display: block;
        bottom: -0.5em;
    }
}

.hamburgerSlider {

    &:global(.is-active) {
        .hamburgerInner {
            visibility: hidden;

            &::before {
                visibility: visible;
                transform: translateY(0.5em) rotate(-45deg);
            }

            &::after {
                visibility: visible;
                transform: translateY(-0.5em) rotate(45deg);
            }
        }
    }
}
