$orange: #FFB800;
$paragraph_grey: #4A4A4A;
$header_black: #1D1F32;
$blue-background: #141122;

$gutter-small:  1rem;
$gutter-medium: 2rem;
$gutter-large:  4rem;

// Breakpoints
$screen-sm:      320px;
$page-gutter-sm: 1rem;

$screen-md:      620px;
$page-gutter-md: 2rem;

$screen-lg:      1024px;
$page-gutter-lg: 3rem;

$screen-xl:      1200px;
$page-gutter-xl: 4rem;

$screen-xxl:      1440px;
$page-gutter-xxl: 8rem;

$min_width: $screen-sm;
$max_width: $screen-xxl;
$min_font: 16px;
$max_font: 18px;

$mod_1: 1.2; // mobile
$mod_2: 1.4; // desktop


$page-gutter: $gutter-large;
$column-gutter: $gutter-medium;
