@import '~normalize.css';
@import "variables";
@import "../components/navbar/navbar-component.module";

* {
    font-family: "FS Albert", Arial, sans-serif;
    box-sizing: border-box;
    outline: none;
}

body {
    max-width: $max_width;
    margin: 0 auto !important;
    overflow-x: hidden;

    @include fontMedium;

    h1, h2, h3 {
        margin: 0 0 $gutter-small;
        text-transform: capitalize;
    }

    h1 {
        @include headingFontLarge;
    }

    h2 {
        @include headingFontMedium;
    }
    h3 {
        @include headingFontSmall;
    }

    p {
        margin: 0 0 $gutter-medium;
    }

    a {
        color: $orange;
        text-decoration: none;
        font-weight: bold;
    }

    ul {
        list-style: none;
        padding-left: 0;
        justify-content: center;
    }

    //@media(min-width: $screen-md) {
    //
    //    h1 {
    //        color: $header_black;
    //        margin-bottom: $gutter-medium;
    //    }
    //
    //    p {
    //        color: $paragraph_grey;
    //        line-height: 30px;
    //    }
    //}
}


