@import "../../page-components/columns/columns";
@import "../../../scss/variables";

.wrapper {
    @include component-gutter;
    @media (min-width: $screen-lg) {
        margin-bottom: $gutter-large - $gutter-medium/2;
    }

    .components {

        > * {
            margin: 0;
            h1 {
                @include headingFontLarge;
            }
        }

        blockquote {
            //padding-left: 1rem;
            p {
                @include fontLarge;
                padding: 0;
                margin-bottom: 0;

                &:before,
                &:after {
                    font-size: 3rem;
                }

                &:before {
                    left: calc(-1rem - 0.52em);
                }
            }

            footer {
                h1 {
                    @include headingFontSmall;
                }
                @include fontSmall;
                margin-left: calc(-2rem - #{$column-gutter}/2);
                padding-left: calc(#{$column-gutter}/2 + 2rem);
                background-color: white;
                margin-top: 1rem;
            }
        }
    }

    &.hasImage {
        @include columns-component;
        &.isRightImage {
            flex-direction: row-reverse;
        }

        .image, .postit {
            width: 100%;
            @include fontMedium;

            &.postit {
                padding-bottom: 100%;
            }

            @media(min-width: $screen-md) {
                width: 62.5%;
                &.postit {
                    padding-bottom: 62.5%;
                }
            }
        }

        .image, .postit, .components {

            @media(min-width: $screen-lg) {
                width: calc(50% - #{$gutter-medium});
                &.postit {
                    padding-bottom: calc(50% - #{$gutter-medium});
                }
            }
        }
    }
}
