@import "../../page-components/columns/columns";
@import "../../../scss/variables";

.intro {
    @media (min-width: $screen-md) {
        position: relative;
        width: $singleColumnMaxWidth;
        &:after {
            @media (min-width: $screen-md) {
                z-index: -1;
                content: url(/images/hf-arrow.svg);
                position: absolute;
                top: -$component-gutter-md + $column-gutter-md/2;
                right: -50%;
                width: 62.5%;
                opacity: 0.05;
            }
            @media (min-width: $screen-lg) {
                top: -$component-gutter-lg + $column-gutter-lg/2;
            }
        }
    }
}

.section {
    @include component-gutter;

    &.first {
        position: relative;
        &:after {
            @media (min-width: $screen-md) {

                content: url(/images/hf-arrow.orange.svg);
                position: absolute;
                width: 50%;
                left: -37.5%;
                bottom: -25%;
                opacity: 0.6;
            }
        }
    }

    &:last-child {
        position: relative;
        &:before {
            @media (min-width: $screen-md) {
                content: url(/images/hf-arrow.svg);
                position: absolute;
                opacity: 0.05;
                width: 20%;

                bottom: -$component-gutter-md/2;
                right: -$column-gutter-md*2;
            }
            @media (min-width: $screen-lg) {
                bottom: -$component-gutter-lg/2;
                right: -$column-gutter-lg*2;
            }
        }
    }

    .components {
        @include fontMedium;

        > :first-child:after {
            display: none;
        }

        > * {
            margin: 0;

            :last-child {
                margin-bottom: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        blockquote {
            margin-left: 0;
            @media (min-width: $screen-md) {
                padding-left: $column-gutter-md/2;
            }
            @media (min-width: $screen-lg) {
                padding-left: $column-gutter-lg/2;
            }
        }
    }

    &.hasImage {
        @include columns-component;
        &.isRightImage {
            @media(min-width: $screen-md) {
                flex-direction: row-reverse;
            }
        }

        .image {
            margin-left: -$column-gutter-sm/2;
            margin-right: -$column-gutter-sm/2;
            @media(min-width: $screen-md) {
                margin: $column-gutter-md/2;
                align-self: stretch;
                > div {
                    display: none;
                }
            }
            @media(min-width: $screen-lg) {
                margin: $column-gutter-lg/2;
            }
        }

        .components {
            padding: $component-gutter-sm/2 0;
            @media (min-width: $screen-md) {
                padding: $component-gutter-md/2 0;

            }
            @media (min-width: $screen-lg) {
                padding: $component-gutter-lg/2 0;

            }
        }

        .image, .postit {
            @include fontMedium;
        }

        .postit {
                width: calc(100% - #{$column-gutter-sm});
                padding-bottom: calc(100% - #{$column-gutter-sm});
            }

        .image, .postit, .components {

            @media(min-width: $screen-md) {
                width: calc(50% - #{$column-gutter-md});
                &.postit {
                    padding-bottom: calc(50% - #{$column-gutter-md});
                }
            }
            @media(min-width: $screen-lg) {
                width: calc(50% - #{$column-gutter-lg});
                &.postit {
                    padding-bottom: calc(50% - #{$column-gutter-lg});
                }
            }
        }
    }
}
