@import "../styles/variables";
@import "../styles/mixins";

.imageSlider {
    padding: 5rem 0;
    background: $blue-background;
    background: linear-gradient(to right, $blue-background 0%, $blue-background 90%, $blue-background 90%, #ffffff 90%, #ffffff 100%);
    position: relative;
    margin-bottom: 25px;

    :global(.slick-dots) {
        position: absolute;
        top: -5rem;
        height: 5rem;
        right: 0;
        width: 10%;
        display: flex !important;
        align-items: center;
        justify-content: center;

        button:before {
        }

        :global(.slick-active) button:before, button:hover:before {
            color: $orange;
        }
    }

    :global(.slick-arrow) {

        &:global(.slick-prev) {
            left: unset;
            right: 5%;
            transform: rotate(180deg) translateY(50%);
        }

        &:global(.slick-next) {
            left: unset;
            right: 0;
        }

        &:before {
            display: none;
        }

        path {
            fill: $orange;
        }

        position: absolute;
        top: calc(100% + 2.5rem);
        width: 5%;
        height: 5rem;

        svg {
            padding: 1.5rem 0;
            width: 100%;
            height: 100%;
        }
    }

    :global(.slick-slide) {
        opacity: 0.98;
        transition: opacity ease 250ms;
        &:global(.slick-active) {
            opacity: 1;
        }
    }
}

.slide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: calc(10% - 1rem);
    height: calc(90vh - 10rem);
    max-height: calc(900px - 10rem;
    background: #1c1e32;

    section {
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        h2 {
            order: 1;
            margin-top: 0;
            color: #6E7087;
            letter-spacing: 0.2em;
        }
        h1 {
            order: 2;
            color: $orange;
        }
        p {
            order: 3;
            flex-grow: 1;
            color: #B8B8B8;
        }
        a {
            order: 4;
        }
    }
    .slideImage {
        flex-shrink: 0;
        flex-grow: 0;
        height: calc(90vh - 10rem);
        max-height: calc(900px - 10rem;
        width: calc((90vh - 10rem) / .625);
        max-width: calc(100% / 1.6);
    }

}

.imageSliderBg {
    background-color: $blue-background;
    background-size: 100% 75%;
    width: 100%;
    padding: 15px;

    img {
        padding: 0;
    }

    p {
        color: #B8B8B8;
    }

    h3 {
        margin-top: 0;
        color: #6E7087;
        letter-spacing: 0.2em;
    }

    h1 {
        color: $orange;
    }
}

.sliderClass {

    @include flexRow(row, nowrap, normal);

    :global(.slick-arrow) {

        &:before {
            display: none;
        }

        path {
            fill: $orange;
        }
    }

    height: 650px;
    background-color: $blue-background;
    width: 100%;
    align-items: center;

    :global(.slick-prev:before),
    :global(.slick-next:before) {
        //color: $orange;
        //font-family: FontAwesome;
        //opacity: unset;
    }

    > div {
        @include flexRow(row, nowrap, normal);
        align-items: center;
        width: 100%;
        height: 650px;
        margin-bottom: 0 !important;

        > div {
            height: 100%;

            .flexRow {
                @include flexRow;

                align-items: center;

                .flexCol {
                    &:first-of-type {
                        @include flexRow(column, nowrap, normal);
                        flex: 1;
                        order: 2;
                        margin-bottom: 0;
                        padding: 0 15px;
                    }

                    &:last-of-type {
                        order: 1;
                        height: auto;
                    }

                    p {
                        color: #888888;
                    }

                    h1 {
                        color: $orange;
                        padding: 0;
                    }

                    h2 {
                        color: #6E7087;
                        text-transform: uppercase;
                    }

                    a {
                    }

                    img {
                        width: 100%;
                    }

                }
            }
        }

        ul {
            right: 0;
            left: unset;
            text-align: right;
            margin-bottom: 635px;

            li {
                margin-right: 10px;

                button:before {
                    //color: #D8D8D8;
                }

                &:global(.slick-active) button:before {
                    //color: $orange;
                }
            }

        }

        button {

            //background-color: transparent;
            //color: #D8D8D8;
            //


            //
            //&:last-of-type {
            //    right: 0;
            //}
            //
            //bottom: 0;
            ////top: unset;
            //z-index: 100;
        }

    }

    .hiddenDesktop {
        padding: 0 15px;
    }

    .hiddenMobile {
        display: none;
    }
}


@media(min-width: $screen-lg) {
    .sliderClass {
        background: $blue-background;
        background: -moz-linear-gradient(left, $blue-background 0%, $blue-background 90%, $blue-background 90%, #ffffff 90%, #ffffff 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, $blue-background), color-stop(90%, $blue-background), color-stop(90%, $blue-background), color-stop(90%, #ffffff), color-stop(100%, #ffffff));
        background: -webkit-linear-gradient(left, $blue-background 0%, $blue-background 90%, $blue-background 90%, #ffffff 90%, #ffffff 100%);
        background: -o-linear-gradient(left, $blue-background 0%, $blue-background 90%, $blue-background 90%, #ffffff 90%, #ffffff 100%);
        background: -ms-linear-gradient(left, $blue-background 0%, $blue-background 90%, $blue-background 90%, #ffffff 90%, #ffffff 100%);
        background: linear-gradient(to right, $blue-background 0%, $blue-background 90%, $blue-background 90%, #ffffff 90%, #ffffff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$blue-background, endColorstr='#ffffff', GradientType=1);

        :global(.slick-prev:before),
        :global(.slick-next:before) {
            //font-size: 60px;
        }

        > div {

            ul {
                margin-bottom: 605px;
            }

            div {
                height: 485px;

                .flexRow {
                    .flexCol {
                        &:first-of-type {
                            padding-left: 100px;
                            padding-right: 50px;
                            order: 1;

                        }

                        &:last-of-type {
                            order: 2;
                        }
                    }
                }
            }

            button {

                //&:first-of-type {
                //    right: 100px;
                //}
                //top: unset;
            }
        }

        .hiddenDesktop {
            display: none;
        }

        .hiddenMobile {
            display: block;
        }
    }
}
