@import "../../../../scss/variables";
@import '../../page-component';

.twoImages {
    z-index: -1;
    @include component-gutter;
    margin: $component-gutter-sm #{-$column-gutter-sm};

    position: relative;
    padding: $component-gutter-sm 0;

    > div {

        margin: 0 0 $component-gutter-sm;
        overflow: visible !important;
        position: relative;

        &:first-child {
            margin-right: $column-gutter-sm;
            margin-bottom: $column-gutter-sm;
            &:before {
                position: absolute;
                content: url('/images/hf-arrow.orange.svg');
                width: 30%;
                height: 100%;
                z-index: 1;
                top: -37.5%;
                right: $column-gutter-sm;
            }
        }

        &:last-child {
            margin-left: $column-gutter-sm;
            margin-bottom: 0;
            &:after {
                position: absolute;
                content: url('/images/hf-arrow.orange.svg');
                width: 60%;
                height: 100%;
                z-index: 1;
                left: -37.5%;
                bottom: -37.5%;
                opacity: 0.6;
            }
        }
    }

    &:after {
        position: absolute;
        content: '';
        width: 37.5%;
        height: 37.5%;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background: rgba($orange, 0.6);
    }

    &.flip {
        > div {
            &:first-child {
                &:before {
                    right: 0;
                    opacity: 0.6;
                }
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }

        &:after {
            content: url(/images/hf-arrow.orange.svg);
            width: calc(100% / 0.625);
            left: calc((-100% / 0.625) + 25%);
            height: 100%;
            opacity: 0.6;
            background: none;
        }
    }

    @media (min-width: $screen-md) {

        display: flex;
        flex-direction: row;

        > div {
            //width: calc(50% - #{$column-gutter-md});
            width: calc(100% + #{$column-gutter-md});

            &:first-child {
                margin-left: -$column-gutter-md;
                margin-right: $column-gutter-md/2;
                margin-bottom: 10%;
                &:before {
                    top: -$component-gutter-md/2;
                    right: -$column-gutter-md*2;
                    height: 100%;
                    width: 18.75%;
                    transform: translateX(100%);
                }
            }

            &:last-child {
                margin-right: -$column-gutter-md;
                margin-left: $column-gutter-md/2;
                margin-top: 10%;
                &:after {
                    left: calc(-100% - #{$component-gutter-md});
                    bottom: 0;
                    transform: translate(-50%, 30%);
                }
            }
        }

        &:after {
            width: 30%;
            height: 0;
            padding-bottom: 30%;
            top: $component-gutter-md/2;
            right: 0;
            transform: translate(50%, 0);
        }

        &.flip {
            > div {
                &:first-child {
                    margin-top: 10%;
                    margin-bottom: 0;
                    &:before {
                        width: 37.5%;
                        height: calc(37.5% / 0.625);
                        top: -50%;
                        left: 37.5%;
                        transform: translateX(-50%);
                    }
                }

                &:last-child {
                    margin-top: 0;
                    margin-bottom: 10%;
                    &:after {
                        display: block;
                        left: 0;
                        transform: translate(-37.5%, 44%);
                    }
                }
            }

            &:after {
                display: none;
            }
        }
    }

    @media (min-width: $screen-lg) {

        > div {
            width: calc(100% + #{$column-gutter-lg});

            &:first-child {
                margin-left: -$column-gutter-lg;
                margin-right: $column-gutter-lg/2;
                &:before {
                    top: -$component-gutter-lg/2;
                    right: -$column-gutter-lg*2;
                }
            }

            &:last-child {
                margin-right: -$column-gutter-lg;
                margin-left: $column-gutter-lg/2;
                &:after {
                    left: calc(-100% - #{$component-gutter-lg});
                }
            }
        }

        &:after {
            top: $component-gutter-lg/2;
        }
    }

}
