@import "../../../../scss/variables";
@import '../../page-component';

.twoImages {
    @include component-gutter;
    margin: 0 #{-$page-gutter-sm} $gutter-large;
    @media(min-width: $screen-md) {
        margin: 0 #{-$page-gutter-md} $gutter-large;
    }
    //@media(min-width: $screen-xxl) {
    //    margin: 0 -#{$page-gutter-xxl - $column-gutter/2} 0 #{$column-gutter/2};
    //}

    position: relative;
    padding: $gutter-large 0;

    > div {

        margin: 0 0 $gutter-small;
        overflow: visible !important;
        position: relative;

        &:first-child {
            margin-right: 2*$page-gutter-sm;
            @media (min-width: $screen-md) {
                margin-right: 2*$page-gutter-md;
            }
            &:before {
                position: absolute;
                content: url('/images/hf-arrow.orange.svg');
                width: 30%;
                height: 100%;
                z-index: 1;
                top: -37.5%;
                right: $gutter-medium;
            }
        }

        &:last-child {
            margin-left: 2*$page-gutter-sm;
            @media (min-width: $screen-md) {
                margin-left: 2*$page-gutter-md;
            }
            margin-bottom: 0;
            &:after {
                position: absolute;
                content: url('/images/hf-arrow.orange.svg');
                width: 60%;
                height: 100%;
                z-index: 1;
                left: -37.5%;
                bottom: -37.5%;
                opacity: 0.6;
            }
        }
    }

    &:after {
        position: absolute;
        content: '';
        width: 37.5%;
        height: 37.5%;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background: rgba($orange, 0.6);
    }

    @media (min-width: $screen-lg) {

        margin: 0 0 $gutter-large;
        padding: $gutter-small 0 $gutter-large;
        display: flex;
        flex-direction: row;

        > div {
            width: calc(50% - #{$column-gutter/2});

            &:first-child {
                margin-right: $column-gutter/2;
                margin-bottom: 10%;
                &:before {
                    top: -$gutter-small;
                    right: -$page-gutter-lg;
                    height: 100%;
                    width: 18.75%;
                    transform: translateX(100%);
                }
            }

            &:last-child {
                margin-left: $column-gutter/2;
                margin-top: 10%;
                &:after {
                    left: calc(-100% - #{$page-gutter-lg});
                    bottom: 0;
                    transform: translate(-50%, 30%);
                }
            }
        }

        &:after {
            width: 30%;
            height: 0;
            padding-bottom: 30%;
            top: $gutter-small;
            right: 0;
            transform: none;
            margin-right: -$page-gutter-lg;
            @media (min-width: $screen-xl) {
                margin-right: -$page-gutter-xl;
            }
            @media (min-width: $screen-xxl) {
                margin-right: -$page-gutter-xxl;
            }
            @media (min-width: $screen-xxxl) {
                margin-right: -$page-gutter-xxxl;
            }
        }
    }
}
