@import "../../columns/columns";
@import "../../../../scss/mixins/typography";

.applicationForm {
    @include component-gutter;
    @include fontMediumVr;

    transition: opacity 250ms ease;



    abbr {
        text-decoration: none;
        color: $error-color;
    }

    > section {
        @include columns-component;
        margin-bottom: 0;

        @media (min-width: $screen-md) {
            margin-top: 0;
            margin-bottom: $component-gutter-md;

            align-items: flex-start;
        }
        @media (min-width: $screen-lg) {
            margin-top: 0;
            margin-bottom: $component-gutter-lg;
        }

        header {
            width: calc((100%/1) - #{$column-gutter-sm});
            @media (min-width: $screen-md) {
                margin-top: 0;
                margin-bottom: 0;
                width: calc((100% / 3) - #{$column-gutter-md});
            }
            @media (min-width: $screen-lg) {
                margin-top: 0;
                margin-bottom: 0;
                width: calc((100% / 3) - #{$column-gutter-lg});
            }

            h2 {
                margin-bottom: 0;
            }

            :last-child {
                margin-bottom: 0;
            }

            //margin-bottom: 1em;
        }

        > section {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0;

            @media (min-width: $screen-md) {

                &, &:last-child {
                    width: calc((100% * 2 / 3));
                    margin-left: auto;
                    margin-bottom: calc(#{$column-gutter-md/2} - #{$rhythm-unit}em);
                }
            }
            @media (min-width: $screen-lg) {
                &, &:last-child {
                    margin-bottom: calc(#{$column-gutter-lg/2} - #{$rhythm-unit}em);
                }
            }

            > label {

                width: calc((100% / 1) - #{$column-gutter-sm/2});
                margin-left: $column-gutter-sm/2;
                margin-right: $column-gutter-sm/2;
                @media (min-width: $screen-md) {
                    width: calc((100% / 2) - #{$column-gutter-md});
                    margin-left: $column-gutter-md/2;
                    margin-right: $column-gutter-md/2;
                    //#{$rhythm-unit}em;
                }
                @media (min-width: $screen-lg) {
                    width: calc((100% / 2) - #{$column-gutter-lg});
                    margin-left: $column-gutter-lg/2;
                    margin-right: $column-gutter-lg/2;
                }

                &.fullWidth {
                    width: 100%;

                    textarea {
                        width: 100%;
                        @media (min-width: $screen-md) {

                            padding: calc(#{$rhythm-unit*3/4}em) $component-gutter-sm/2;
                            margin: calc(#{$rhythm-unit/4}em - 1px) 0;
                        }
                    }
                }
            }

            button {
                cursor: pointer;
            //    @include fontMedium;
            //    margin-top: calc(#{($rhythm-unit - 1)/2}em - 0.5em);
            //    margin-bottom: 0;
                line-height: 1;
                background-color: $orange;
                color: white;
                border: none;
                display: flex;
                align-items: center;
                padding: 0.75em $component-gutter-sm/2;
                @include arrow-link;
            //
            //    @media (min-width: $screen-md) {
            //        margin-right: 0.5em;
            //
            //    }
            //
                &:after {
                    background-image: url(/images/hf-arrow.white.svg);
                }

            //    &.submit {
            //        @include fontLarge;
            //    }
            }

            &.questions {
                > * {
                    width: 100%;
                }

                > label {
                    input {
                        @media (min-width: $screen-md) {

                            margin: calc(#{$rhythm-unit/4}em - 2px) 0;
                        }
                    }
                }
            }

            [role="group"] {
                > * {
                    margin-left: $column-gutter-sm/2;
                    margin-right: $column-gutter-sm/2;
                    @media (min-width: $screen-md) {

                        margin-left: $column-gutter-md/2;
                        margin-right: $column-gutter-md/2;
                    }
                    @media (min-width: $screen-lg) {

                        margin-left: $column-gutter-lg/2;
                        margin-right: $column-gutter-lg/2;
                    }

                    &.error {
                        margin-left: $column-gutter-sm/2/0.85;
                        margin-right: $column-gutter-sm/2/0.85;
                        @media (min-width: $screen-md) {

                            margin-left: $column-gutter-md/2/0.85;
                            margin-right: $column-gutter-md/2/0.85;
                        }
                        @media (min-width: $screen-lg) {

                            margin-left: $column-gutter-lg/2/0.85;
                            margin-right: $column-gutter-lg/2/0.85;
                        }
                    }
                }
            }

            .fileUpload {
                @include fontMediumVr;
                width: 100%;

                [type=file] {
                    display: none;
                }

                div {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    margin: calc(#{$rhythm-unit/4}em - 2px) 0;
                    @media (min-width: $screen-md) {
                        align-items: center;
                    }
                }

                button {
                    flex-shrink: 0;
                    margin-right: 0.5em;
                }
            }
        }

        .submit {

            > label {
                width: 100%;
                @media (min-width: $screen-md) {
                    width: 100%;
                }
            }

            :global(.g-recaptcha) {
                margin: 0;
            }

            > div {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-left: $column-gutter-sm/2;
                margin-right: $column-gutter-sm/2;
                @media (min-width: $screen-md) {
                    flex-direction: row;
                    align-items: flex-start;
                    margin-left: $column-gutter-md/2;
                    margin-right: $column-gutter-md/2;
                }
                @media (min-width: $screen-lg) {
                    margin-left: $column-gutter-lg/2;
                    margin-right: $column-gutter-lg/2;
                }

                button {
                    @include fontLarge;
                    display: inline-block;
                    align-self: flex-start;
                    margin: 0;
                    justify-content: space-between;
                    padding: 0.5em;
                    flex-shrink: 0;

                    transition: all 250ms ease;
                }

                .messages {
                    margin: #{$rhythm-unit}em 0 0 0;
                }

                @media (min-width: $screen-md) {
                    flex-direction: row;
                    .messages {
                        margin: 0 0 0 $column-gutter-md;
                        flex-grow: 1;
                    }
                }
                @media (min-width: $screen-lg) {
                    .messages {
                        margin: 0 0 0 $column-gutter-lg;
                    }
                }
            }

            .messages {
                .success, .error {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    @media (min-width: $screen-md) {
                        align-items: flex-start;
                    }
                }
                .error {
                    svg {
                        color: $error-color;
                        margin-right: 0.5em;
                        flex-shrink: 1;
                    }
                }
                .success {
                    svg {
                        color:$success-color;
                        margin-right: 0.5em;
                        flex-shrink: 1;
                    }
                }
            }
        }
    }

    &.error .submit {
        button {
            background: $input-grey;
            opacity: 0.5;
        }
    }

    &.isSubmitting {
        opacity: 0.5;

        .submit button {
            svg {
                height: 0.8em;
                width: 0.8em;
                margin-left: 1em;
            }
            &:after {
                content: none;
            }
        }
    }
}
