@import "../styles/variables";

.blockquoteContainer {
    padding: 40px 1rem;
    blockquote {
        font-weight: bold;
        font-style: italic;
        font-size: 23px;
        line-height: 1.4;
        position: relative;
        padding: 0;
        margin-bottom: 2rem;
        margin-left: 0;
        margin-right: 0;
        color: $orange;

        &:before {
            position: absolute;
            color: #686868;
            font-size: 5rem;
            width: 3rem;
            height: 4rem;
        }

        &:before {
            content: '“';
            left: -2rem;
            top: -3rem;
            padding-left: 30px;
        }

        //&:after {
        //    content: '”';
        //    bottom: 0;
        //    margin-left: .25rem;
        //}
    }
}

.flexRow {
    display: flex;
    align-items: center;

    h1 {
        color: black;
        margin-bottom: 0.5rem;
        font-size: 23px;
        font-weight: bold;
    }

    p {
        color: #B8B8B8;
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 0;
        font-style: italic;
    }
    .imageCropper {
        width: 70px;
        height: 71px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 1rem;

        .profilePicImage {
            display: inline;
            margin: 0 auto;
            height: 100%;
            width: 100%;
        }
    }

}

@media (min-width: $screen-md) {

    .blockquoteContainer {
        padding-left: 50px;
        border-left: 1px solid #D8D8D8;

        blockquote {
            &:before {
                left: -3rem;
                top: -1rem;
                background-color: #ffffff;
                padding-left: 0;
            }
        }
    }

    .flexRow {
        .imageCropper {
            width: 70px;
            height: 71px;
        }
    }
}
