@import "../../scss/variables";

.blockquoteContainer {
    padding: 40px 1rem;

    .flexRow {
        display: flex;
        align-items: center;

        h1 {
            color: black;
            margin-bottom: 0.5rem;
            font-weight: bold;
            //font-size: 1.75rem;
        }

        p {
            color: #B8B8B8;
            text-transform: uppercase;
            margin-top: 0;
            font-style: italic;
        }
        .imageCropper {
            width: 70px;
            height: 71px;
            position: relative;
            overflow: hidden;
            border-radius: 50%;
            margin-right: 1rem;

            .profilePicImage {
                margin: 0 auto;
                height: 100%;
                width: 100%;
            }
        }

    }

    blockquote {
        font-weight: bold;
        font-style: italic;
        line-height: 1.4;
        position: relative;
        padding: 0;
        margin-bottom: 2rem;
        margin-left: 0;
        margin-right: 0;
        color: $orange;
        font-size: 1.375rem;

        &:before,
        &:after {
            position: absolute;
            color: #686868;
            font-size: 5rem;
            //width: 3rem;
            //height: 4rem;
        }

        &:before {
            content: '“';
            left: -2rem;
            top: -3rem;
            padding-left: 30px;
        }

        &:after {
            content: '”';
            bottom: 0;
            margin-left: .25rem;
            display: inline-block;
            transform: translateY(50%);
        }
    }
}


@media (min-width: $screen-md) {

    .blockquoteContainer {
        border-left: 1px solid #D8D8D8;
        padding-top: 0;
        padding-left: 1.5rem;
        padding-bottom: 0;
        margin-bottom: 1rem;

        blockquote {
            &:before {
                left: -3rem;
                top: -1rem;
                background-color: #ffffff;
                padding-left: 0;
                width: 3rem;
                text-align: center;
                line-height: 3rem;
                height: 3rem;
                transform: translateY(50%);
                font-size: 2rem;
            }
        }
    }

    .flexRow {
        .imageCropper {
            width: 70px;
            height: 71px;
        }
    }
}
